<template>
    <footer class="app-footer">
        <span><a href="http://engageiq.com">EngageIQ</a> © {{year}}</span>
        <span class="ml-auto">Powered by <a href="http://engageiq.com">EngageIQ</a></span>
    </footer>
</template>
<script>
    export default {
        data() {
            return {
				year: ''
            }
        },
		mounted() {
			const d = new Date();
			this.year = d.getFullYear();
		}
    }
</script>
<style lang="scss" scoped>
</style>
