<template>
    <div class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#" class="navbar-brand">Engage IQ</a>
        <ul class="nav navbar-nav ml-auto">
            <li>Hello {{name}} </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img :src="gravatar" class="img-avatar" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div>
                    <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments<span class="badge badge-warning">42</span></a>
                    <router-link  class="dropdown-item" to="report-bugs-or-comment"><i class="fa fa-bug"></i>Report Bug or Comment</router-link>
                    <div class="dropdown-header text-center">
                        <strong>Settings</strong>
                    </div>
                    <router-link to="/user-profile/123" class="dropdown-item"><i class="fa fa-user" ></i> Profile</router-link>
                    <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-secondary">42</span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a>
                    <a class="dropdown-item" href="/logout"><i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        name: 'customheader',
        data() {
            return {
                name: '',
                gravatar: '',
            }
        },
        mounted() {
            if (localStorage.getItem('userData') != null) {
                this.name =localStorage.getItem('userData')
                this.gravatar = localStorage.getItem('userAvatar')
            } else {
                axios.get('/api/current-user')
                .then((data) => {
                    this.name = data['data'].name;
                    this.gravatar = data['data'].gravatar;
                    localStorage.setItem('userData', this.name)
                    localStorage.setItem('userAvatar', this.gravatar)
                })
                .catch((err) => {
                    console.log(err.toString())
                })
            }
        }
    }
</script>
