<template lang="html">
	<div class="">
		<div  v-for="(data) of selections">
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="text-input">
					{{  data.label }}
				</label>
				<div class="col-md-9">
					<div class="form-check">
						<input type="checkbox" :value="data.value" :name="name"  :checked="checked(data.value)" @click="update($event)" class="form-check-input">
						<label class="form-check-label">
							<span style="margin-left: 44px;">
								{{ data.text }}
							</span>
						</label>
					</div>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'checkbox-input',
	props: {
		name: {
			type: String,
			default () {
				return ''
			}
		},
		value: {
			type: Array,
			default () {
				return ''
			}
		},
		options: {
			// type: Boolean,
			default () {
				return []
			}
		}
	},
	data() {
		return {
			selections: [],
			saved: []
		}
	},
	mounted () {
		this.saved = this.value;
		this.selections = this.options;
	},
	watch: {
		value: function(newValue, oldValue) {
          	// console.log('Prop changed: ', newValue, ' | was: ', oldValue)
			this.saved = newValue;
		},
		options: function(newValue, oldValue) {
          	// console.log('frtrtProp changed: ', newValue, ' | was: ', oldValue)
			this.selections = newValue;
		}
	},
	methods: {
		checked(element) {
			if(this.saved.indexOf(element) != -1) return true;
			return false;
		},
		remove(element) {
		    const index =this.saved.indexOf(element);
		    this.saved.splice(index, 1);
		},
		update($event) {
			if($event.target.checked) this.saved.push($event.target.value);
			else this.saved.splice(this.saved.indexOf($event.target.value), 1);

			this.$emit('change', {
				key: this.name,
				value: this.saved
			});
		}
	}
}
</script>

<style lang="css">
</style>
