<template lang="html">
	<div class="form-group row">
		<label class="col-md-3 col-form-label" for="text-input">
			{{ label }}
			<slot></slot>
		</label>
		<div class="col-sm-8 col-md-5 col-lg-3">
			<div class="input-group">
				<div v-if="prepend" v-for="_prepend in prepend" class="input-group-prepend">
					<span v-if="_prepend.text" class="input-group-text">{{ _prepend.text }}</span>
					<span v-if="_prepend.html" class="input-group-text" v-html="_prepend.html"></span>
				</div>

				<input v-if="type == 'text'" type="text" :id="id" :class="classname + ' form-control'" :value="value" :placeholder="placeholder" @change="update($event)"/>

				<div v-if="append" v-for="_append in append" class="input-group-append">
					<span v-if="_append.text" class="input-group-text">{{ _append.text }}</span>
					<span v-if="_append.html" class="input-group-text" v-html="_append.html"></span>
				</div>
			</div>
			<span class="help-block">{{ help }}</span>
		</div>
	</div>
</template>

<script>
export default {
	name: 'group-input',
	data() {
		return {
			placeholder: ''
		}
	},
	props: {
		label: {
			type: String,
			default () {
				return 'Label'
			}
		},
		name: {
			type: String,
			default () {
				return ''
			}
		},
		value: {
			type: String,
			default () {
				return ''
			}
		},
		help: {
			type: String,
			default () {
				return ''
			}
		},
		default: {
			type: String,
			default () {
				return ''
			}
		},
		id: {
			type: String,
			default () {
				return ''
			}
		},
		classname: {
			type: String,
			default () {
				return ''
			}
		},
		type: {
			type: String,
			default () {
				return 'text'
			}
		},
		prepend: {
			type: Array,
			default () {
				return []
			}
		},
		append: {
			type: Array,
			default () {
				return []
			}
		}
	},
	mounted () {
		this.placeholder = this.default;
	},
	watch: {
		default: function(newValue, oldValue) {
			this.placeholder = newValue;
		}
	},
	methods: {
		update($event) {
			this.$emit('change', {
				key: this.name,
				value: $event.target.value
			});
		}
	}
}
</script>

<style lang="css">
</style>
