<template lang="html">
	<div class="form-group row">
		<label class="col-md-3 col-form-label" for="text-input">
			{{ label }}
			<slot></slot>
		</label>
		<div class="col-md-9">
			<select :id="id" :class="classname + ' form-control'" v-model="selected" @change="update($event)">
				<option v-for="option of options" :value="option">{{ option }}</option>
			</select>
			<span class="help-block">{{ help }}</span>
		</div>
	</div>
</div>
</template>

<script>
export default {
	name: 'select-input',
	data() {
		return {
			selected: ''
		}
	},
	props: {
		label: {
			type: String,
			default () {
				return 'Label'
			}
		},
		name: {
			type: String,
			default () {
				return ''
			}
		},
		value: {
			type: String,
			default () {
				return ''
			}
		},
		help: {
			type: String,
			default () {
				return ''
			}
		},
		id: {
			type: String,
			default () {
				return ''
			}
		},
		classname: {
			type: String,
			default () {
				return ''
			}
		},
		default: {
			type: String,
			default () {
				return ''
			}
		},
		options: {
			type: Array,
			default () {
				return []
			}
		},
	},
	mounted() {
			this.selected = this.default;
	},
	watch: {
		default: function(newValue, oldValue) {
			if(!this.value) this.selected = newValue;
		},
		value: function(newValue, oldValue) {
			if(newValue) this.selected = newValue;
		}
	},
	methods: {
		isSelected ($value) {
			if($value == this.value) return 'selected';
			return '';
		},
		update($event) {
			console.log($event.target.value);
			console.log(this.selected);
			this.$emit('change', {
				key: this.name,
				value: this.selected
			});
		}
	}
}
</script>

<style lang="css">
</style>
