<template lang="html">
	<div class="row">
		<div v-for="template of options" class="template-wrap col-lg-3 col-md-6 col-sm-12">
			<div class="card" @mouseover="showActivateBtn(template.slug)" @mouseout="hideActivateBtn(template.slug)">
				<div class="card-header">
					<div class="theme-author">
						By: {{ template.creator  }}
					</div>
					<div class="card-actions">
						<a @click.prevent="activeTemplate(template.slug)" href="#" class="btn-setting"
							Xdata-toggle="modal"
							Xdata-target="#theme-details"
						><i class="icon-settings"></i></a>
						<a href="javascript:void" class="btn-minimize" data-toggle="collapse" :data-target="'#' + template.slug" aria-expanded="true"><i class="icon-arrow-up"></i></a>
					</div>
				</div>
				<div :id="template.slug" class="card-body collapse show" >
					<div class="theme-screenshot" style=" height: 240px; overflow: hidden;">
						<img style="width: 100%;" :src="template.screenshot_src" alt="">
					</div>
				</div>
				<div :class="(template.slug == selected) ? 'bg-info card-footer' : 'card-footer'">
					<h4 class="theme-name mb-1" :id="template + '-name'">
						<span v-show="template.slug == selected" class="text-danger">Active:</span> {{ template.name }}
						<button @click="update(template.slug)" :id="'activate-' + template.slug" class="btn btn-sm btn-primary pull-right text-uppercase" style="display: none;"> Activate</button>
					</h4>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'template-input',
	data() {
		return {
			selected: ''
		}
	},
	props: {
		name: {
			type: String,
			default () {
				return ''
			}
		},
		value: {
			type: String,
			default () {
				return ''
			}
		},
		options: {
			// type: String,
			default () {
				return []
			}
		},
	},
	watch: {
		value: function(newValue, oldValue) {
			this.selected = newValue;
		}
	},
	mounted () {
		this.selected = this.value;
	},
	methods: {
		showActivateBtn ($template_slug) {
			if($template_slug == this.selected) return;
			document.getElementById('activate-' + $template_slug).style.display = "block";
		},
		hideActivateBtn ($template_slug) {
			document.getElementById('activate-' + $template_slug).style.display = "none";
		},
        activeTemplate($slug) {
            this.$parent.$parent.$parent.setCurrentTemplate(this.selected);
            this.$parent.$parent.$parent.setPreviewTemplate($slug);

			this.$nextTick(() => {
				this.$modal.show('theme-details');
			})
        },
		update($selected) {
			this.selected = $selected;

			this.$emit('change', {
				key: this.name,
				value: $selected
			});
		}
	}
}
</script>

<style lang="css">
</style>
