<template>
    <div class="card">
        <div class="card-header">
            <strong>Add User</strong>
        </div>
        <div class="card-body">
            <form class="form-horizontal" @submit.prevent="createUser()">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Name</label>
                    <div class="col-md-9">
                        <input type="text" v-model="user['name']" name="name" class="form-control" placeholder="Name" required>
                        <span class="help-block">Add Name</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="email-input">Email Input</label>
                    <div class="col-md-9">
                        <input type="email" v-model="user.email" name="email" class="form-control" placeholder="Enter Email" required>
                        <span class="help-block">Please enter your email</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="password-input">Password</label>
                    <div class="col-md-9">
                        <input type="password" v-model="user.password" name="password" class="form-control" placeholder="Password" required>
                        <span class="help-block">Please enter a complex password</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="password-input">Confirm Password</label>
                    <div class="col-md-9">
                        <input type="password" v-model="user.password_confirmation" name="password_confirmation" class="form-control" placeholder="Password" required>
                        <span class="help-block">Please enter a complex password</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="select1">Add Role</label>
                    <div class="col-md-9">
                        <select class="form-control" name="role" v-model="selected">
                            <option v-for="role of roles" v-bind:value="role.id">{{role.name}}</option>
                        </select>
                        <span class="help-block">Add Role</span>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i v-if="loading" class='fa fa-spinner fa-spin '></i> Submit</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    <button class="btn btn-sm btn-default" @click.prevent="hideCreateUserForm"><i class="fa fa-remove"></i> Hide</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                user: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                },
                selected: '',
                userRoles: '',
                loading: false,
            }
        },
        props: ['roles'],
        methods: {
            createUser() {
                this.loading = true;
                this.$emit('create-user', {user: this.user, role: this.selected});
            },
            hideCreateUserForm() {
                this.$emit('hide-create-user');
            }
        }

    }
</script>
<style lang="scss" scoped>
</style>
