<template>
  	<div class="row">
		<div class="col-lg-6">
			<div class="alert alert-primary">{{ bug }} (Assigned to <span class="badge badge-success">{{ assignedto }}</span>)</div>
			<div class="card" v-for="comment of savedComments">
		        <div class="card-header">
					<img :src="comment.author" class="img-avatar"> &nbsp;{{comment.creator}} commented {{comment.created_at}}
					<div class="card-actions">
						<a v-if="authorize('owns', comment)" href="#" class="btn-close" @click.prevent="deleteComment(comment.id)"><i class="icon-close"></i></a>
					</div>
		        </div>
		        <div class="card-body collapse show" id="collapseExample">
					<span v-html="comment.comments"></span>
		        </div>
		    </div>
			<div class="card">
		        <div class="card-header">
					Post Your Comment
		        </div>
		        <div class="card-body">
					<form class="form-horizontal" @submit.prevent="submitComment">
		          		<wysiwyg v-model="comments" name="body" value=""></wysiwyg>
						<div class="card-footer">
		                  	<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
		                  	<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
		               	</div>
					</form>
		        </div>
		    </div>
		</div>
  	</div>
</template>
<script>
    export default {
        data() {
            return {
				comments: '',
				savedComments: '',
				bug: this.description,
				assignedto: this.assignee,
            }
        },
		props: ['id','description', 'assignee'],
		mounted() {
			this.getAllComments()
			if(!this.assignee) {
				this.$router.push('/admin/bugs');
			}
		},
		methods: {
			getAllComments() {
				axios.get(`/api/all-related-comments/${this.id}`)
				.then((data) => {
					if(data['data'].length > 0) {
						this.assignedto = this.assignee? this.assignee : data['data'][0].user;
						this.bug = data['data'][0].description;
						this.savedComments = data['data'];
					}
					this.assignedto = this.assignee
				})
				.catch((err) => {
					console.log(err, 'err');
				})
			},
			submitComment() {
				axios.post(`/api/submit-comments/${this.id}`, {
					comments: this.comments
				})
				.then((data) => {
					this.comments = '';
					if (this.savedComments) {
						this.savedComments.push(data['data'][0]);
					} else {
						this.getAllComments();
					}
				})
				.catch((err) => {
                    switch (err.response.status) {
						case 401:
							this.unauthorized = true
                            this.$toaster.error(err.response.status)
							break;
						default:
							for(const [key, val] of Object.entries(err.response.data.errors)) {
								this.$toaster.error(val[0]);
							}
							break;
					}
					console.log(err.toString())
				})
			},
			deleteComment(id) {
				const confirmation = confirm("Are you sure you want to delete your comment?, this cannot be undone in your lifetime");
				if(!confirmation) return false;
				axios.post(`/api/delete-related-comment/${id}`)
				.then(() => {
					this.$toaster.success("Success deleting your own comment");
					const pos = this.savedComments.map(elem => elem.id).indexOf(id);
					this.savedComments.splice(pos, 1);
				})
				.catch((err)=> {
					console.log(err.toString())
				})
			}
		}
    }
</script>
<style lang="scss" scoped>
	.img-avatar {
		height: 32px;
		width: 37px;
	}
</style>
