<template>
    <div class="card">
        <div class="card-header">
          <strong>Update User {{userProp.userName}}</strong>
        </div>
        <div class="card-body">
            <form class="form-horizontal" @submit.prevent="editUserRole()">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Name</label>
                    <div class="col-md-9">
                        <input type="text" v-bind:value="user.name" name="name" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="select1">Update Role</label>
                    <div class="col-md-9">
                        current role: {{userProp.userRole}}
                        <select class="form-control" v-model="selected" name="roles">
                            <option v-for="role in roles" v-bind:value="role.id">{{role.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i v-if="loading" class='fa fa-spinner fa-spin '></i> Submit</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                user: {
                    name: '',
                    id: '',
                },
                selected: '',
                loading: false,
            }
        },
        props:['userProp', 'roles'],
        mounted() {
            console.log(this.userProp, 'user props')
            this.user.name = this.userProp.userName
            this.user.id = this.userProp.userId
        },
        methods: {
            editUserRole() {
                this.loading = true;
                this.$emit('edit-user-role',  {user: this.user, role: this.selected})
            }
        }
    }
</script>
<style lang="scss" scoped>
</style>
