<template>
	<!-- <div class="row">
		<transition name="custom-classes-transition" enter-active-class="animated bounceInRight" leave-active-class="animated lightSpeedOut">
			<addpathmodal v-on:get-all-paths="getAllPaths"></addpathmodal>
		</transition>
  		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					Paths
					<div class="card-actions">
						<a href="#" @click="showCreatePathModal">
							<i class="fa fa-hand-o-right"></i>
							<small>create</small>
						</a>

						<a href="#" @click="showCreatePathModal">
							<i class="fa fa-plus"></i>
						</a>
					</div>
				</div>
				<div class="card-body">
					<table class="table table-responsive-sm">
						<thead>
							<tr>
								<th>Path</th>
								<th>Name</th>
								<th>Template</th>
								<th>Created By</th>
								<th>Updated By</th>
								<th>Date Created</th>
								<th>Date Updated</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(data, index) of paths">
								<td><a v-bind:href="data.url" target="_blank">{{ data.url }}</a></td>
								<td>{{ data.name }}</td>
								<td>{{ (data.options) ? getTemplate(data.options) : 'Default'}} Template</td>
								<td>{{ data.created_by }}</td>
								<td>{{ data.updated_by}}</td>
								<td>{{ data.date_created }}</td>
								<td>{{ data.date_updated }}</td>
								<td>
									<label class="switch switch-text switch-pill switch-primary">
										<input name="my-checkbox" type="checkbox" class="switch-input" :checked="data.status" :value="data.status" >
										<span class="switch-label" data-on="On" data-off="Off" @click="switchOnOff(data.id, data.status, index)"></span>
										<span class="switch-handle" @click="switchOnOff(data.id, data.status, index)"></span>
									</label>
								</td>
								<td>
									<a><i class="fa fa-pencil"></i></a>
									<a href="javascipt:void" class="text-danger" @click="deletePath(index, data.id)"><i class="fa fa-trash"></i></a>
									<router-link :to="'/admin/path-options/' + data.id"><a><i class="fa fa-cog"></i></a></router-link>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<pagination :pagination="pagination" @paginate="getAllPaths()" :offset="4"></pagination>
  		</div>
	</div> -->
	<section>
		<create ref="pathCreate"></create>
		<lists ref="pathLists"></lists>
	</section>
</template>

<script>
	import Create from './_Paths/Create.vue';
	import Lists from './_Paths/Lists.vue';
	export default {
		name: 'paths',
		components : { Create, Lists }
	}
</script>
