<template>
    <div class="row">
        <addrolemodal name="add-role" v-on:get-user-roles="getUserRoles"></addrolemodal>
        <editrolemodal name="edit-role" v-on:get-user-roles="getUserRoles"></editrolemodal>
        <addpermissionmodal name="add-permission" v-on:get-roles-permissions="getRolesPermissions"></addpermissionmodal>
        <editpermissionmodal name="edit-permission" v-on:get-roles-permissions="getRolesPermissions"></editpermissionmodal>
   		<div class="col-lg-6">
     		<div class="card">
       			<div class="card-header">
         			<i class="fa fa-align-justify"></i> Roles Table
					<div class="card-actions">
                        <a href="#" id="addRoles" @click="showCreateRoleModal">
                            <small class="text-muted"><i class="fa fa-plus"></i></small>
                        </a>
					</div>
       			</div>
       			<div class="card-body">
					<div class="alert alert-danger" role="alert" v-if="unauthorized">
						You Are UnAuthorized
					</div>
         			<table class="table table-responsive-sm" v-else>
           				<thead>
				            <tr>
				               	<th>Name</th>
				               	<th>Guard Name</th>
				               	<th>Created</th>
				               	<th>Updated</th>
                                <th>Actions</th>
				            </tr>
           				</thead>
           				<tbody>
             				<tr v-for="role of roles">
                                <template v-if="role.name != 'Site Administrator'">
    				               	<td>{{ role.name }}</td>
    				               	<td>{{ role.guard_name}}</td>
    				               	<td>{{ role.created_at }}</td>
    				               	<td>{{ role.updated_at }}</td>
                                    <td>
                                        <a href="#" @click="showUpdateRoleModal(role.id, role.name)"><i class="fa fa-edit"></i></a>
                                        <a href="#" @click="deleteRole(role.id)"><i class="fa fa-trash"></i></a>
                                    </td>
                                </template>
             				</tr>
           				</tbody>
         			</table>
       			</div>
     		</div>
   		</div>
   		<div class="col-lg-6">
     		<div class="card">
       			<div class="card-header">
         			<i class="fa fa-key"></i> Permission Table
					<div class="card-actions">
            			<a href="#"  id="addPermissions" @click="showCreatePermissionModal">
              				<small class="text-muted"><i class="fa fa-plus"></i></small>
            			</a>
          			</div>
       			</div>
       			<div class="card-body">
					<div class="alert alert-danger" role="alert" v-if="unauthorized">
						You Are UnAuthorized
					</div>
					<table class="table table-responsive-sm" v-else>
           				<thead>
				            <tr>
				               	<th>Name</th>
				               	<th>Guard Name</th>
				               	<th>Created</th>
				               	<th>Updated</th>
                                <th>Actions</th>
				            </tr>
           				</thead>
           				<tbody>
             				<tr v-for="permission of permissions">
				               	<td>{{ permission.name }}</td>
				               	<td>{{ permission.guard_name}}</td>
				               	<td>{{ permission.created_at }}</td>
				               	<td>{{ permission.updated_at }}</td>
                                <td>
                                    <a href="#" @click="showEditPermissionModal(permission.id,permission.name)"><i class="fa fa-edit"></i></a>
                                    <a href="#" @click="deletePermission(permission.id)"><i class="fa fa-trash"></i></a>
                                </td>
             				</tr>
           				</tbody>
         			</table>
       			</div>
     		</div>
   		</div>
 	</div>
</template>
<script>
    import addrolemodal from './modals/addRoleModal';
    import editrolemodal from './modals/editRoleModal';
    import addpermissionmodal from './modals/addPermissionModal';
    import editpermissionmodal from './modals/editPermissionModal';
    export default {
        components: {
            addrolemodal,
            editrolemodal,
            addpermissionmodal,
            editpermissionmodal,
        },
        data() {
            return {
                roles: '',
				permissions: '',
				permissionName: '',
                permissionEditId: '',
				unauthorized: false,
            }
        },
        mounted() {
            this.getUserRoles()
			this.getRolesPermissions()
        },
        methods: {
            showCreateRoleModal() {
                this.$modal.show('add-role', {permissions: this.permissions});
            },
            showUpdateRoleModal(id, name) {
                this.$modal.show('edit-role', {roleProperty: {id:id, name:name},permissions: this.permissions});
            },
            showCreatePermissionModal() {
                this.$modal.show('add-permission');
            },
            showEditPermissionModal(id, name) {
                this.$modal.show('edit-permission', {permissionProperty: {id:id, name:name}});
            },
            getUserRoles() {
				axios.get(`/api/get-user-roles`)
                .then((roles) => {
                    this.roles = roles['data'];
                    this.$modal.hide('add-role');
                    this.$modal.hide('edit-role');
                })
                .catch((err) => {
					switch (err.response.status) {
						case 401:
							this.unauthorized = true
                            this.$toaster.error(err.response.status)
							break;
						default:
						alert("error")
					}
                    console.log(err.response,'errs');
                })
            },
			getRolesPermissions() {
                axios.get(`/api/get-roles-permissions`)
				.then((permissions) => {
					this.permissions = permissions['data'];
                    this.$modal.hide('add-permission');
                    this.$modal.hide('edit-permission');
				})
				.catch((err) => {
					console.log(err.toString());
				})
			},
            deleteRole(id) {
                const confirmation = confirm("Are you sure to delete this Role?, this cannot be undone");
                if(!confirmation) return false;
                axios.post('/api/delete-role/' + id)
                .then((data) => {
                    this.getUserRoles();
                    this.$toaster.success(`Success deleting role ${name}`);
                })
                .catch((error) => {
                    console.log(error.toString())
                })
            },
            editPermission(id, name) {
                this.permissionEditId = id;
                this.permissionName = name;
            },
            deletePermission(id) {
                const confirmation = confirm("Are you sure to delete this Permission?, This cannot be undone");
                if(!confirmation) return false;
                axios.post('/api/delete-permission/' + id)
                .then(() => {
                    this.getRolesPermissions();
                    this.$toaster.success("Success Deleting permission");
                })
                .catch((err) => {
                    console.log(err.toString());
                    this.$toaster.error("Something is happening");
                })
            }
        }
    }
</script>
<style lang="scss" scoped>
</style>
