<template>
    <div class="">
        <pulse-loader v-if="type === 'pulse'"  :loading="loading" :color="toggleColor(color)" :size="size"></pulse-loader>
        <ring-loader v-if="type === 'ring'"  :loading="loading" :color="toggleColor(color1)" :size="size"></ring-loader>
        <bounce-loader v-if="type === 'bounce'"  :loading="loading" :color="toggleColor(color)" :size="size"></bounce-loader>
        <grid-loader v-if="type === 'grid'"  :loading="loading" :color="toggleColor(color1)" :size="size"></grid-loader>
        <clip-loader v-if="type === 'clip'"  :loading="loading" :color="toggleColor(color1)" :size="size"></clip-loader>
        <rise-loader v-if="type === 'rise'" :loading="loading" :color="toggleColor(color1)" :size="size"></rise-loader>
        <beat-loader v-if="type === 'beat'"  :loading="loading" :color="toggleColor(color1)" :size="size"></beat-loader>
        <sync-loader v-if="type === 'sync'"  :loading="loading" :color="toggleColor(color1)" :size="size"></sync-loader>
        <rotate-loader v-if="type === 'rotate'"  :loading="loading" :color="toggleColor(color1)" :size="size"></rotate-loader>
        <pacman-loader v-if="type === 'pacman'"  :loading="loading" :color="toggleColor(color1)" :size="size"></pacman-loader>
        <square-loader v-if="type === 'square'"  :loading="loading" :color="toggleColor(color1)" :size="size"></square-loader>
        <scale-loader v-if="type === 'scale'"  :loading="loading" :color="toggleColor(color1)" :size="size"></scale-loader>
        <skew-loader v-if="type === 'skew'"  :loading="loading" :color="toggleColor(color1)" :size="size"></skew-loader>
        <moon-loader v-if="type === 'moon'"  :loading="loading" :color="toggleColor(color1)" :size="size"></moon-loader>
        <dot-loader v-if="type === 'dot'"  :loading="loading" :color="toggleColor(color1)" :size="size"></dot-loader>
    </div>
</template>

<script>
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
    import GridLoader from 'vue-spinner/src/GridLoader.vue';
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue';
    import RiseLoader from 'vue-spinner/src/RiseLoader.vue';
    import  BeatLoader from 'vue-spinner/src/BeatLoader.vue';
    import SyncLoader from 'vue-spinner/src/SyncLoader.vue';
    import RotateLoader from 'vue-spinner/src/RotateLoader.vue';
    import PacmanLoader from 'vue-spinner/src/PacmanLoader.vue';
    import SquareLoader from 'vue-spinner/src/SquareLoader.vue';
    import ScaleLoader from 'vue-spinner/src/ScaleLoader.vue';
    import SkewLoader from 'vue-spinner/src/SkewLoader.vue';
    import MoonLoader from 'vue-spinner/src/MoonLoader.vue';
    import RingLoader from 'vue-spinner/src/RingLoader.vue';
    import BounceLoader from 'vue-spinner/src/BounceLoader.vue';
    import DotLoader from 'vue-spinner/src/DotLoader.vue';

    export default {
        data () {
            return {
                color: '#cc181e',
                color1: '#5bc0de',
                //size: '45px',
                margin: '2px',
                radius: '2px',
                loaded: this.loading,
            }
        },
        props:['loading', 'size', 'type', 'customColor'],
        components: {
            PulseLoader,
            GridLoader,
            ClipLoader,
            RiseLoader,
            BeatLoader,
            SyncLoader,
            RotateLoader,
            PacmanLoader,
            SquareLoader,
            ScaleLoader,
            SkewLoader,
            MoonLoader,
            RingLoader,
            BounceLoader,
            DotLoader,
        },
        methods: {
            toggleColor ($color)
            {
                if(!this.customColor) return $color;
                return  this.customColor;
            }
        }
    }
</script>
<style media="screen" scoped>
    .v-spinner {
        position: fixed;
        z-index: 99999;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>
