<template>
    <div class="row">
        <div class="col">
            <div class="card" v-if="users">
                <div class="card-header">
                    <i class="fa fa-user"></i>{{users.name}}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <div class="list-group" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="tab" href="#list-home" role="tab" aria-controls="list-home" aria-selected="true">Commits</a>
                                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="tab" href="#list-profile" role="tab" aria-controls="list-profile" aria-selected="false">Profile</a>
                                <a class="list-group-item list-group-item-action" id="list-tasks-list" data-toggle="tab" href="#list-tasks" role="tab" aria-controls="list-tasks">Task</a>
                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="tab" href="#list-settings" role="tab" aria-controls="list-settings">Settings</a>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade active show" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                    <table class="table table-responsive-sm">
                                    	<thead>
                                    		<tr>
												<th>Hash</th>
												<th>Comments</th>
												<th>Date</th>
                                    		</tr>
                                    	</thead>
										<tbody>
											<tr v-for="user in Users">
												<template v-if="extractEmail(user.author.raw) === users.email">
													<td>{{user.hash}}</td>
													<td>{{user.message}}</td>
													<td>{{ago(user.date)}}</td>
												</template>
											</tr>
										</tbody>
                                    </table>
                                    <paginate
                                        :page-count="pageCount"
                                        :container-class="paginations"
                                        :prev-text="prev"
                                        :next-text="next"
                                        :click-handler="clickCallback">
                                    </paginate>
                                </div>
                                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                    <table class="table table-responsive-sm">
                                    	<thead>
                                    		<tr>
												<th class="center"><i class="icon-people"></i></th>
												<th>User</th>
                                                <th>Role</th>
                                                <th>Status</th>
												<th>Last Activity</th>
                                    		</tr>
                                    	</thead>
										<tbody>
											<tr>
												<td>
                                                    <div class="avatar">
                                                        <img :src="users.avatar" class="img-avatar">
                                                        <span class="avatar-status" :class="{ 'badge-success' : users.last_loggedin === 'online', 'badge-danger': (users.last_loggedin != 'online')}"></span>
                                                    </div>
                                                </td>
												<td>{{users.name}}|{{users.email}}</td>
                                                <td>{{users.roles}}</td>
                                                <td><span class="badge" :class="{ 'badge-success' : users.status == 1, 'badge-danger': (users.status != 1)}">{{users.status == 1 ? 'Active': 'InActive' }}</span></td>
												<td>{{users.last_loggedin}}</td>
											</tr>
										</tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="list-tasks" role="tabpanel" aria-labelledby="list-tasks-list">
                                    <table class="table table-responsive-sm">
                                    	<thead>
                                    		<tr>
												<th>Number</th>
												<th>Name</th>
                                                <th>Description</th>
                                                <th>Status</th>
												<th>Type</th>
                                                <th>Modified</th>
                                    		</tr>
                                    	</thead>
										<tbody>
											<tr v-for="task in users.tasks">
												<td>{{task.bugnumber}}</td>
												<td>{{task.name}}</td>
                                                <td>{{task.description}}</td>
                                                <!-- <td>{{task.status}}</td> -->
                                                <td><span class="badge" :class="{ 'badge-success' : task.status == 1, 'badge-danger': (task.status != 1)}">{{task.status == 1 ? 'Open': 'Closed' }}</span></td>
												<td>{{task.type}}</td>
                                                <th>{{ago(task.updated_at)}}</th>
											</tr>
										</tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                                    <p>Irure enim occaecat labore sit qui aliquip reprehenderit amet velit. Deserunt ullamco ex elit nostrud ut dolore nisi officia magna sit occaecat laboris sunt dolor. Nisi eu minim cillum occaecat aute est cupidatat aliqua labore aute occaecat
                                        ea aliquip sunt amet. Aute mollit dolor ut exercitation irure commodo non amet consectetur quis amet culpa. Quis ullamco nisi amet qui aute irure eu. Magna labore dolor quis ex labore id nostrud deserunt dolor eiusmod eu pariatur culpa
                                        mollit in irure.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="" v-else>
				<button type="button" name="button" class="btn btn-success" @click="returnBack()">Click to Return</button>
			</div>
        </div>
    </div>
</template>
<script>
    import paginate from 'vuejs-paginate';
    export default {
        components: {paginate},
        data() {
            return {
                UserId: '',
				apiUrl: 'https://bitbucket.org/api/2.0/repositories/engageiq-ianrussel/paths_laravel/commits',
				Users: '',
                prev: 'prev',
                next: 'next',
                paginations: 'pagination',
                pageCount: 0,
                pageNum: 1
            }
        },
        props: ['userId', 'users'],
        computed: {
        },
		mounted() {
			this.fetchData()
            this.fetchCount()
		},
        methods: {
            clickCallback(pageNum) {
                this.pageNum = pageNum;
                this.fetchData()
            },
            fetchCount() {
                const xhr = new XMLHttpRequest()
                xhr.open('GET', 'https://bitbucket.org/api/1.0/repositories/engageiq-ianrussel/paths_laravel/changesets/')
                xhr.onload = () => {
					let commits = JSON.parse(xhr.responseText);
                    if(localStorage.getItem('count') === null) {
                        localStorage.setItem('count',commits['count'])
                    }
                }
                xhr.send()
            },
            fetchData(){
                const xhr = new XMLHttpRequest()
                xhr.open('GET', this.apiUrl)
                xhr.onload = () => {
					let commits = JSON.parse(xhr.responseText);
                    this.apiUrl = `https://bitbucket.org/api/2.0/repositories/engageiq-ianrussel/paths_laravel/commits?page=${this.pageNum}`;
					this.Users = commits['values']
                    this.pageCount = Math.floor(localStorage.getItem('count') / 30);
                }
                xhr.send()
            },
			extractEmail(string) {
				let regex = /\S+[a-z0-9]@[a-z0-9\.]+/img
				let emails = string.match(regex).toString();
				let stripped =  emails.replace(/[^\w.@]/g, '');
				return stripped;
			},
			returnBack() {
				this.$router.push('/admin/users');
			}
        }
    }
</script>
<style lang="scss" scoped>
    img {
        width: inherit;
    }
</style>
