<template>
    <div class="row">
        <div class="col-lg-12">
            <div class="card" v-if="showUsersTable">
                <div class="card-header">
                    <button type="button" name="button" class="btn btn-outline-primary" @click="showForm">Create User</button>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-hover table-outline mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>User</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Activity</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user of users">
                                <td class="text-center">
                                    <div class="avatar">
                                        <img :src="user.avatar" class="img-avatar">
                                        <span class="avatar-status" :class="{ 'badge-success' : user.last_loggedin === 'online', 'badge-danger': (user.last_loggedin != 'online')}"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>{{user.email}}</div>
                                </td>
                                <td>
                                    <div>{{user.roles}}</div>
                                </td>
                                <td>
                                    <div class="small text-muted">Last login</div>
                                    <strong>{{user.last_loggedin}}</strong>
                                </td>
                                <td>
                                    <span class="badge" :class="{ 'badge-success' : user.status == 1, 'badge-danger': (user.status != 1)}">{{user.status == 1 ? 'Active': 'InActive' }}</span>
                                </td>
                                <td>
                                    <a v-if="!authorize('userOwner',user)" href="#" @click="editUser(user.id,user.name,user.roles)"><i class="fa fa-edit"></i></a>
                                    <a href="#" @click="showUser(user)"><i class="fa fa-eye"></i></a>
                                    <a v-if="!authorize('userOwner',user)" href="#" @click="deactivateUser(user.id, user.status)"><i class="fa fa-hand-o-down"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination :pagination="pagination" @paginate="getUsers()" :offset="4"></pagination>
            </div>
            <adduser v-if="showCreateUserForm" :roles="roles" v-on:create-user="createUser" v-on:hide-create-user="showCreateUserForm =false,showUsersTable=true"></adduser>
            <edituser v-if="showEditRole" :roles="roles" :userProp="user" v-on:edit-user-role="editUserRole"></edituser>
        </div>
    </div>
</template>
<script>
    import pagination from './Paginator'
    import adduser from './addUser';
    import edituser from './editUser';
    export default {
        components: {
            pagination,
            adduser,
            edituser,
        },
        data() {
            return {
                users: {},
                showCreateUserForm: false,
                roles: '',
                showEditRole: false,
                user: {
                    userId: '',
                    userName: '',
                    userRole: ''
                },
                showUsersTable:  true,
                pagination : {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                loading: false,
            }
        },
    	mounted() {
            this.getUsers()
            this.getUserRoles()
    	},
    	methods: {
            getUsers() {
                axios.get(`/api/all-users?page=${this.pagination.current_page}`)
                .then((response) => {
                    this.users = response['data'].data;
                    this.pagination = response['data'].pagination
                })
                .catch((err) => {
                    console.log(err.toString())
                })
            },
            hideCreateUserForm() {
                this.showCreateUserForm = false
                this.showUsersTable = true
            },
            showForm() {
                this.showCreateUserForm = true
                this.showUsersTable = false
            },
            getUserRoles() {
                axios.get('/api/get-user-roles')
                .then((roles) => {
                    this.roles = roles['data'];
                })
                .catch((err) => {
                    console.log(err.toString());
                })
            },
            createUser(user) {
                axios.post('/api/create-user', {
                    name: user.user.name,
                    email: user.user.email,
                    password: user.user.password,
                    password_confirmation: user.user.password_confirmation,
                    role: user.role,
                })
                .then((data) => {
                    this.$toaster.success(`Success adding user ${user.user.name}`);
                    this.getUsers();
                    this.showCreateUserForm = false;
                    this.showUsersTable = true;
                    this.loading = false;
                })
                .catch((error) =>  {
                    switch (error.response.status) {
                        case 401:
                            this.$toaster.error("401, UnAuthorized")
                            this.showCreateUserForm = false;
                            this.showUsersTable = true;
                            break;
                        default:
                            for(const [key, val] of Object.entries(error.response.data.errors)) {
                                this.errors = val[0];
                                this.$toaster.warning(val[0]);
        					}
                            this.loading = false;
                            break;
                    }
                })
            },
            editUser(id,name, role) {
                this.showEditRole = true
                this.showUsersTable = false
                this.user.userId = id
                this.user.userName = name
                this.user.userRole = role
            },
            editUserRole(user) {
                if(!user.role) return false;
                axios.post('/api/edit-user/' + user.user.id, {
                    role: user.role
                })
                .then(() => {
                    this.addhelptextrole = false;
                    this.getUsers();
                    this.getUserRoles();
                    this.showEditRole = false;
                    this.loading = false;
                    this.$toaster.success(`Success adding updating ${user.user.name} role to ${user.role}`);
                    this.showUsersTable = true

                })
                .catch((error) => {
                    this.addhelptextrole = true;
                    for(const [key, val] of Object.entries(error.response.data.errors)) {
                        this.error += val[0];
                        this.$toaster.error(val[0]);
					}
                })
            },
            deactivateUser(id, status) {
                const confirmation = confirm("Are you sure you want to change status for this user?, You can change status for this user later in your life ");
                if(!confirmation) return false;
                axios.post('/api/deactivate-user/' + id, {
                    status : status,
                })
                .then(() => {
                    let thisStatus = status == 0 ? 'activated' : 'deactivated';
                    this.$toaster.success(`this user successfully ${thisStatus}`)
                    this.getUsers();
                })
                .catch((err) => {
                    console.log(err.toString())
                })
            },
            showUser(user) {
                this.$router.push({ name: 'userProfile', params: { userId: user.id, users: user}});
            }
    	}
    }
</script>
<style lang="scss" scoped>
</style>
