/* colors */
html {
width: 100%;
height: 100%;
}

body {
background-color: #eff3f4;
position: relative;
width: 100%;
height: 100%;
font-size: 16px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 400;
-webkit-font-smoothing: antialiased;
}

form {
/* position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%); */
display: block;
width: 100%;
max-width: 400px;
background-color: #FFF;
margin: 0;
padding: 2.25em;
-webkit-box-sizing: border-box;
	  box-sizing: border-box;
border: solid 1px #DDD;
border-radius: .5em;
font-family: 'Source Sans Pro', sans-serif;
}
form .svgContainer {
position: relative;
width: 150px;
height: 150px;
margin: 0 auto 1em;
border-radius: 50%;
pointer-events: none;
}
form .svgContainer div {
position: relative;
width: 100%;
height: 0;
overflow: hidden;
border-radius: 50%;
padding-bottom: 100%;
}
form .svgContainer .mySVG {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
pointer-events: none;
}
form .svgContainer:after {
content: "";
position: absolute;
top: 0;
left: 0;
z-index: 10;
width: inherit;
height: inherit;
-webkit-box-sizing: border-box;
	  box-sizing: border-box;
border: solid 2.5px #217093;
border-radius: 50%;
}
form .inputGroup {
margin: 0 0 2em;
padding: 0;
position: relative;
}
form .inputGroup:last-of-type {
margin-bottom: 0;
}
form label {
margin: 0 0 12px;
display: block;
font-size: 1.25em;
color: #217093;
font-weight: 700;
font-family: inherit;
}
form input[type='email'], form input[type="text"], form input[type="number"], form input[type="url"], form input[type="search"], form input[type="password"] {
display: block;
margin: 0;
padding: 0 1em 0;
padding: .875em 1em 0;
background-color: #f3fafd;
border: solid 2px #217093;
border-radius: 4px;
-webkit-appearance: none;
-webkit-box-sizing: border-box;
	  box-sizing: border-box;
width: 100%;
height: 65px;
font-size: 1.55em;
color: #217093;
font-weight: normal;
font-family: inherit;
-webkit-transition: border-color .25s ease-out, -webkit-box-shadow .2s linear;
transition: border-color .25s ease-out, -webkit-box-shadow .2s linear;
transition: box-shadow .2s linear, border-color .25s ease-out;
transition: box-shadow .2s linear, border-color .25s ease-out, -webkit-box-shadow .2s linear;
}
form input[type='email']:focus, form input[type="text"]:focus, form input[type="number"]:focus, form input[type="url"]:focus, form input[type="search"]:focus, form input[type="password"]:focus {
outline: none;
-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
border: solid 2px #4eb8dd;
}
form button {
display: block;
margin: 0;
padding: .65em 1em 1em;
background-color: #4eb8dd;
border: none;
border-radius: 4px;
-webkit-box-sizing: border-box;
	  box-sizing: border-box;
-webkit-box-shadow: none;
	  box-shadow: none;
width: 100%;
height: 65px;
font-size: 1.55em;
color: #FFF;
font-weight: 600;
font-family: inherit;
-webkit-transition: background-color .2s ease-out;
transition: background-color .2s ease-out;
}
form button:hover, form button:active {
background-color: #217093;
}
form .inputGroup1 .helper {
position: absolute;
z-index: 1;
font-family: inherit;
}
form .inputGroup1 .helper1 {
top: 0;
left: 0;
-webkit-transform: translate(1em, 2.2em) scale(1);
	  transform: translate(1em, 2.2em) scale(1);
-webkit-transform-origin: 0 0;
	  transform-origin: 0 0;
color: #217093;
font-size: 1.55em;
font-weight: 400;
opacity: .65;
pointer-events: none;
-webkit-transition: opacity .2s linear, -webkit-transform .2s ease-out;
transition: opacity .2s linear, -webkit-transform .2s ease-out;
transition: transform .2s ease-out, opacity .2s linear;
transition: transform .2s ease-out, opacity .2s linear, -webkit-transform .2s ease-out;
}
form .inputGroup1.focusWithText .helper {
-webkit-transform: translate(1em, 2em) scale(0.6);
	  transform: translate(1em, 2em) scale(0.6);
opacity: 1;
}
form .inputGroup2 input[type="password"] {
padding: .4em 1em .5em;
}
form .inputGroup2 input[type="text"] {
padding: .025em 1em 0;
}
form .inputGroup2 #showPasswordToggle {
display: block;
padding: 0 0 0 1.45em;
position: absolute;
top: .25em;
right: 0;
font-size: 1em;
}
form .inputGroup2 #showPasswordToggle input {
position: absolute;
z-index: -1;
opacity: 0;
}
form .inputGroup2 #showPasswordToggle .indicator {
position: absolute;
top: 4px;
left: 0;
height: .85em;
width: .85em;
background-color: #f3fafd;
border: solid 2px #217093;
border-radius: 3px;
}
form .inputGroup2 #showPasswordToggle .indicator:after {
content: "";
position: absolute;
left: .25em;
top: .025em;
width: .2em;
height: .5em;
border: solid #217093;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
	  transform: rotate(45deg);
visibility: hidden;
}
form .inputGroup2 #showPasswordToggle input:checked ~ .indicator:after {
visibility: visible;
}
form .inputGroup2 #showPasswordToggle input:focus ~ .indicator, form .inputGroup2 #showPasswordToggle input:hover ~ .indicator {
border-color: #4eb8dd;
}
form .inputGroup2 #showPasswordToggle input:disabled ~ .indicator {
opacity: .5;
}
form .inputGroup2 #showPasswordToggle input:disabled ~ .indicator:after {
visibility: hidden;
}

/**
**
*/
/* colors */
$darkBlue: #217093;
$medBlue: #4eb8dd;
$lightBlue: #ddf1fa;
$inputBG: #f3fafd;

html {width: 100%; height: 100%;}
body {
	background-color: #eff3f4; position: relative; width: 100%; height: 100%;
	font-size: 16px; font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
	-webkit-font-smoothing: antialiased;
}
form {
	/* position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); */
	display: block; width: 100%; max-width: 400px; background-color: #FFF;
	margin: 0; padding:0; box-sizing: border-box; border: none; border-radius: .5em;
	font-family: 'Source Sans Pro', sans-serif;
	.svgContainer {
		position: relative; width: 200px; height: 200px; margin: 0 auto 1em;
		border-radius: 50%;
		pointer-events: none;
		div {
			position: relative; width: 100%; height: 0; overflow: hidden; border-radius: 50%;
			padding-bottom: 100%;
		}
		.mySVG {
			position: absolute; left: 0; top: 0; width: 100%; height: 100%;
			pointer-events: none;
		}
		&:after {
			content: ""; position: absolute; top: 0; left: 0; z-index: 10;
			width: inherit; height: inherit; box-sizing: border-box;
			border: solid 2.5px $darkBlue; border-radius: 50%;
		}
	}
	.inputGroup {
		margin: 0 0 2em; padding: 0; position: relative;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	label {
		margin: 0 0 12px; display: block;
		font-size: 1.25em; color: #217093; font-weight: 700; font-family: inherit;
	}
	input[type='email'], input[type="text"], input[type="number"], input[type="url"], input[type="search"], input[type="password"] {
		display: block; margin: 0; padding: 0 1em 0; padding: .875em 1em 0;
		background-color: $inputBG; border: solid 2px $darkBlue; border-radius: 4px; -webkit-appearance: none;
		box-sizing: border-box;
		width: 100%; height: 65px;
		font-size: 1.55em; color: #353538; font-weight: 600; font-family: inherit;
		transition: box-shadow .2s linear, border-color .25s ease-out;
		&:focus {
			outline: none;
			box-shadow: 0px 2px 10px rgba(0,0,0,.1);
			border: solid 2px $medBlue;
		}
	}
	button {
		display: block; margin: 0; padding: .65em 1em 1em;
		background-color: $medBlue; border: none; border-radius: 4px;
		box-sizing: border-box; box-shadow: none;
		width: 100%; height: 65px;
		font-size: 1.55em; color: #FFF; font-weight: 600; font-family: inherit;
		transition: background-color .2s ease-out;
		&:hover, &:active {
			background-color: $darkBlue;
		}
	}

	.inputGroup1 {
		.helper {
			position: absolute; z-index: 1;
			font-family: inherit;
		}
		.helper1 {
			top: 0; left: 0;
			transform: translate(1em, 2.2em) scale(1); transform-origin: 0 0;
			color: $darkBlue; font-size: 1.55em; font-weight: 400; opacity: .65;
			pointer-events: none;
			transition: transform .2s ease-out, opacity .2s linear;
		}

		&.focusWithText .helper {
			transform: translate(1em, 1.55em) scale(.6); opacity: 1;
		}
	}
	.inputGroup2 {
		input[type="password"] {
			padding: .4em 1em .5em;
		}
		input[type="text"] {
			padding: .025em 1em 0;
		}
		#showPasswordToggle {
			display: block; padding: 0 0 0 1.45em;
			position: absolute; top: .25em; right: 0;
			font-size: 1em;
			input {
				position: absolute; z-index: -1;
				opacity: 0;
			}
			.indicator {
				position: absolute; top: 0; left: 0;
				height: .85em; width: .85em;
				background-color: $inputBG; border: solid 2px $darkBlue; border-radius: 3px;
				&:after {
					content: "";
					position: absolute; left: .25em; top: .025em;
					width: .2em; height: .5em;
					border: solid $darkBlue; border-width: 0 3px 3px 0;
					transform: rotate(45deg); visibility: hidden;
				}
			}
			input:checked ~ .indicator {
				&:after {visibility: visible;}
			}
			input:focus ~ .indicator, input:hover ~ .indicator {
				border-color: $medBlue;
			}
			input:disabled ~ .indicator {
				opacity: .5;
				&:after {visibility: hidden;}
			}
		}
	}
}
