
<template>
    <div class="tab-pane fade" :id="slug + '_feedback'" role="tabpanel">
        <div v-for="(inputs, section) in feedback_inputs" class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" :href="'#feedback_' + section" aria-expanded="false">
                        {{ section }}
                    </a>
                    <div v-if="section == 'email_recipients'"class="card-actions nav" role="tablist">
                        <a href="#" @click.prevent="show_add_email_recipients = true"><i class="fa fa-plus"></i></a>
                    </div>
                </h5>
            </div>
            <div :id="'feedback_' + section" class="collapse show" role="tabpanel" :aria-labelledby="'feedback_' + section" data-parent="#accordion" style="">
                <div class="card-body">
                    <text-input
                        v-if="section == 'email_recipients'"
                        v-show="show_add_email_recipients"
                        :label="'Full Name'"
                        :name="'full_name'"
                        :value="full_name_value"
                        @change="addEmailRecipient"
                    > </text-input>
                    <text-input
                        v-if="section == 'email_recipients'"
                        v-show="show_add_email_recipients"
                        :label="'Email'"
                        :name="'email'"
                        :value="email_value"
                        :type="'email'"
                        @change="addEmailRecipient"
                    > </text-input>
                    <button
                        v-if="section == 'email_recipients'"
                        v-show="show_add_email_recipients"
                        class="btn btn-medium bg-primary"
                        @click="processEmailRecipient"
                    >Add</button>

                    <div
                        v-show="!show_add_email_recipients"
                        v-for="input in inputs"
                        :is="input.type"
						:label="input.label"
						:name="input.name"
						:value="(input.value)? feedback[input.value] : feedback[input.name]"
						:imgvalue="images[input.name]"
                        :options="options[input.options]"
                        :default="input.default"
                        :append="input.append"
                        :remove_url="'/api/option-remove/' + path_id"
						@change="updateFromInputs"
					> </div>
                </div>
            </div>
        </div>
        <div class="card-footer border border-gray-200">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
    </div>
</template>

<script>
	import TextInput from './_FormInputs/TextInput';
	import SelectInput from './_FormInputs/SelectInput';
	import SwitchInput from './_FormInputs/SwitchInput';
	import FileInput from './_FormInputs/FileInput';
	import InputGroup from './_FormInputs/InputGroup';
	import CheckboxInput from './_FormInputs/CheckboxInput';
    export default {
        name: 'feedback-options',
		components: {
            TextInput,
			SelectInput,
			SwitchInput,
			FileInput,
			InputGroup,
			CheckboxInput
		},
        props: [
            'base_url', 'path_id', 'slug', 'feedback', 'emailRecipients', 'option_inputs'
        ],
        data() {
            return {
                add_recipient: {},
				images: {},
				options: {},
                // Defaults
                feedback_inputs: {
                    display: [
                        {
                            label: 'Allow Feedback',
                            name: 'show_feedback',
                            default: 'true',
                            type: 'switch-input'
                        }
                    ],
                    email_recipients: [
                        {
                            name: 'email_recipients',
                            options: 'email_recipients',
                            type: 'checkbox-input'
                        }
                    ],
                },
                show_add_email_recipients: false,
                full_name_value: '',
                email_value: ''

            }
        },
    	mounted() {
            this.options.email_recipients = this.emailRecipients;
    	},
    	watch: {
    		option_inputs: function(newValue, oldValue) {
                if(newValue) this.feedback_inputs = newValue;
    		}
    	},
        methods: {
            addEmailRecipient ($input) {
                this.add_recipient[$input.key] = $input.value;
                console.log(this.add_recipient);
            },
            processEmailRecipient () {
                console.log('rocess');
                console.log(this.add_recipient);
                if(!this.add_recipient.full_name || !this.add_recipient.email) return;

                this.full_name_value = this.add_recipient.full_name;
                this.email_value = this.add_recipient.email;

                let self = this;
                let formData = new FormData();

                Object.keys(this.add_recipient).map(function(key) {
					formData.append(key, self.add_recipient[key]);
				});

                axios.post('/api/add-email-recipients', formData)
                .then((data) => {
                    if(!data.data.error) {
                            this.$swal({
                                position: 'top-end',
                                type: 'success',
                                title: 'New Email Recipient is added!',
                                showConfirmButton: false,
                                timer: 1200
                            });
                            console.log(this.options.email_recipients);
                            this.options.email_recipients.push({
                                label: this.add_recipient.full_name,
                                text: this.add_recipient.email,
                                value: this.add_recipient.email
                            });
                            console.log(this.options.email_recipients);
                            this.add_recipient = {};
                            this.show_add_email_recipients = false;
                            this.full_name_value = '';
                            this.email_value = '';
                    }
                    else {
                        this.$swal({
                            position: 'top-end',
                            type: 'error',
                            title: 'Error in Submission!',
                            text: data.data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
            },
            updateFromInputs ($input) {
                this.feedback[$input.key] = $input.value;
            },
            update ()
            {
                this.$parent.toggleSpinner(true);

                let self = this;
                let formData = new FormData();
                formData.append('section', 'feedback');

                Object.keys(this.feedback).map(function(key) {
                    formData.append(key, self.feedback[key]);
                });

                axios.post('/api/option-feedback/' + this.path_id, formData)
                .then((data) => {
                    if(!data.data.error) {
                            this.$swal({
                                position: 'top-end',
                                type: 'success',
                                title: 'Feedback options is updated!',
                                showConfirmButton: false,
                                timer: 1200
                            });
                    }
                    else {
                        this.$swal({
                            position: 'top-end',
                            type: 'error',
                            title: 'Error in Submission!',
                            text: data.data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
                .finally (() => {
                    this.$parent.$parent.$refs.overviewPath[0].updatePreview();
                    this.$parent.toggleSpinner(false);
                })
            }
        }
    }
</script>

<style lang="css" scoped>
</style>
