<template>
    <div class="tab-pane fade" :id="slug + '_footer'" role="tabpanel">
        <div v-for="(inputs, section) in footer_inputs" class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" :href="'#footer_' + section" aria-expanded="false">
                        {{ section }}
                    </a>
                </h5>
            </div>
            <div :id="'footer_' + section" class="collapse show" role="tabpanel" :aria-labelledby="'footer_' + section" data-parent="#accordion" style="">
                <div class="card-body">
                    <div v-for="input in inputs"
                        :is="input.type"
						:label="input.label"
						:name="input.name"
						:value="(input.value)? footer[input.value] : footer[input.name]"
						:imgvalue="getImage(input.name)"
                        :default="input.default"
                        :options="options[input.options]"
                        :remove_url="'/api/option-remove/' + path_id"
						@change="updateFromInputs"
					></div>
                </div>
            </div>
        </div>
        <div class="card-footer border border-gray-200">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
    </div>
</template>

<script>
    import TextInput from './_FormInputs/TextInput';
    import SelectInput from './_FormInputs/SelectInput';
    import SwitchInput from './_FormInputs/SwitchInput';
    import FileInput from './_FormInputs/FileInput';
    export default {
        name: 'footer-options',
		components: {
            TextInput,
			SelectInput,
			SwitchInput,
			FileInput
		},
        props: [
            'base_url', 'path_id', 'slug', 'footer', 'option_inputs'
        ],
        data() {
            return {
                images: {},
                options: {},
                // Defaults
                footer_inputs: {
                    display: [
                        {
                            label: 'Show Footer',
                            name: 'show_footer',
                            default: 'true',
                            type: 'switch-input'
                        }
                    ]
                }
            }
        },
    	watch: {
    		option_inputs: function(newValue, oldValue) {
                if(newValue) this.footer_inputs = newValue;
    		}
    	},
    	mounted() {
    	},
        methods: {
            updateFromInputs ($input) {
                this.footer[$input.key] = $input.value;
            },
            getImage($indx) {
                return this.images[$indx];
            },
            update ()
            {
                this.$parent.toggleSpinner(true);

                let self = this;
                let formData = new FormData();
                formData.append('section', 'footer');

                Object.keys(this.footer).map(function(key) {
                    formData.append(key, self.footer[key]);
                });

                axios.post('/api/option-footer/' + this.path_id, formData)
                .then((data) => {
                    if(!data.data.error) {
                            this.$swal({
                                position: 'top-end',
                                type: 'success',
                                title: 'Footer options is updated!',
                                showConfirmButton: false,
                                timer: 1200
                            });
                    }
                    else {
                        this.$swal({
                            position: 'top-end',
                            type: 'error',
                            title: 'Error in Submission!',
                            text: data.data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
                .finally (() => {
                    this.$parent.$parent.$refs.overviewPath[0].updatePreview();
                    this.$parent.toggleSpinner(false);
                })
            }
        }
    }
</script>

<style lang="css" scoped>
</style>
