<template>
	<div class="tab-pane fade active show" :id="slug + '_general'" role="tabpanel">
        <div v-for="(inputs, section) in general_inputs" class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" :href="'#general_' + section" aria-expanded="false">
                        {{ section }}
                    </a>
                </h5>
            </div>
            <div :id="'general_' + section" class="collapse show" role="tabpanel" :aria-labelledby="'general_' + section" data-parent="#accordion" style="">
                <div class="card-body">
                    <div v-for="input in inputs"
                        :is="input.type"
						:label="input.label"
						:name="input.name"
						:value="(input.value)? general[input.value] : general[input.name]"
						:imgvalue="getImage(input.name)"
                        :default="input.default"
                        :help="input.help"
                        :options="options[input.options]"
                        :remove_url="'/api/option-remove/' + path_id"
						@change="updateFromInputs"
					></div>
                </div>
            </div>
        </div>
        <div class="card-footer border border-gray-200">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
    </div>
</template>

<script>
	import TextInput from './_FormInputs/TextInput';
	import SelectInput from './_FormInputs/SelectInput';
	import SwitchInput from './_FormInputs/SwitchInput';
	import FileInput from './_FormInputs/FileInput';
	export default {
		name: 'general-options',
		components: {
            TextInput,
			SelectInput,
			SwitchInput,
			FileInput
		},
		props: [
			'base_url', 'path_id', 'slug', 'general', 'option_inputs'
		],
		data() {
			return {
				images: {},
				options: {},
                // Defaults
				general_inputs: {
                    path_identity: [
                        {
                            label: 'Path Title',
                            name: 'path_title',
                            type: 'text-input'
                        }
                    ],
                    meta_tags: [
                        {
                            label: 'Author',
                            name: 'meta_author',
                            type: 'text-input'
                        },
                        {
                            label: 'Description',
                            name: 'meta_description',
                            type: 'text-input'
                        },
                        {
                            label: 'Keywords',
                            name: 'meta_keywords',
                            type: 'text-input'
                        }
                    ],
                    environment: [
                        {
                            label: 'Use Production File',
                            name: 'use_production_file',
                            default: 'false',
                            type: 'switch-input'
                        }
                    ],
                    background_image: [
                        {
                            label: 'Background Image',
                            name: 'body_background_img',
                            type: 'file-input'
                        },
                        {
                            label: 'Background Position',
                            name: 'body_background_img_position',
                            options: 'background_position',
                            type: 'select-input'
                        },
                        {
                            label: 'Background Repeat',
                            name: 'body_background_img_repeat',
                            options: 'background_repeat',
                            type: 'select-input'
                        }
                    ]
                }
			}
		},
    	watch: {
    		option_inputs: function(newValue, oldValue) {
                if(newValue) this.general_inputs = newValue;
    		}
    	},
		mounted () {
			this.images = {
				body_background_img: ''
			};
            this.options = {
				background_position: [
                    'center center',
                    'center left',
                    'center right',
                    'top center',
                    'top left',
                    'top right',
                    'bottom center',
                    'bottom left',
                    'bottom right'
                ],
				background_repeat: [
                    'no-repeat',
                    'repeat-y',
                    'repeat-x',
                    'repeat'
                ]
			};
		},
		methods: {
			setProprties () {
				for (let property in this.images) {
					if (this.general.hasOwnProperty(property)) {
						this.images[property] = this.general[property];
					}
				}
			},
            getImage($indx) {
                return this.images[$indx];
            },
			updateFromInputs ($input) {
				this.general[$input.key] = $input.value;
			},
			update ()
			{
				this.$parent.toggleSpinner(true);

				let self = this;
				let formData = new FormData();
				formData.append('section', 'general');
				formData.append('slug', this.slug);

				Object.keys(this.general).map(function(key) {
					formData.append(key, self.general[key]);
				});

				axios.post('/api/option-general/' + this.path_id, formData)
				.then((data) => {
					if(!data.data.error) {
						this.$swal({
							position: 'top-end',
							type: 'success',
							title: 'General options is updated!',
							showConfirmButton: false,
							timer: 1200
						});
					}
					else {
						this.$swal({
							position: 'top-end',
							type: 'error',
							title: 'Error in Submission!',
							text: data.data.msg,
							showConfirmButton: false,
							timer: 1500
						});
					}
				})
				.catch((error) => {
					console.log('error: ', error);
				})
				.finally (() => {
					this.$parent.$parent.$refs.overviewPath[0].updatePreview();
					this.$parent.toggleSpinner(false);
				})
			}
		}
	}
</script>

<style lang="css" scoped>
</style>
