<template>
    <div class="tab-pane fade" :id="slug + '_header'" role="tabpanel">
        <div v-for="(inputs, section) in header_inputs" class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" :href="'#header_' + section" aria-expanded="false">
                        {{ section }}
                    </a>
                </h5>
            </div>
            <div :id="'header_' + section" class="collapse show" role="tabpanel" :aria-labelledby="'header_' + section" data-parent="#accordion" style="">
                <div class="card-body">
                    <div v-for="input in inputs"
                        :is="input.type"
						:label="input.label"
						:name="input.name"
						:value="(input.value)? header[input.value] : header[input.name]"
						:imgvalue="getImage(input.name)"
                        :default="input.default"
                        :options="options[input.options]"
                        :remove_url="'/api/option-remove/' + path_id"
						@change="updateFromInputs"
					></div>
                </div>
            </div>
        </div>
        <div class="card-footer border border-gray-200">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
    </div>
</template>

<script>
	import TextInput from './_FormInputs/TextInput';
	import SelectInput from './_FormInputs/SelectInput';
	import SwitchInput from './_FormInputs/SwitchInput';
	import FileInput from './_FormInputs/FileInput';
    export default {
        name: 'header-options',
		components: {
            TextInput,
			SelectInput,
			SwitchInput,
			FileInput
		},
        props: [
            'base_url', 'path_id', 'slug', 'header', 'option_inputs'
        ],
        data() {
            return {
				images: {},
				options: {},
                // Defaults
                header_inputs: {
                    display: [
                        {
                            label: 'Show Header',
                            name: 'show_header',
                            default: 'true',
                            type: 'switch-input'
                        }
                    ],
                    title: [
                        {
                            label: 'Show Header Text',
                            name: 'show_header_text',
                            default: 'true',
                            type: 'switch-input'
                        },
                        {
                            label: 'Header Title',
                            name: 'header_title',
                            type: 'text-input'
                        },
                        {
                            label: 'Header Sub Title',
                            name: 'header_sub_title',
                            type: 'text-input'
                        }
                    ],
                    background_image: [
                        {
                            label: 'Show Background color',
                            name: 'show_background_color',
                            default: 'true',
                            type: 'switch-input'
                        },
                        {
                            label: 'Background Image',
                            name: 'header_background_img',
                            type: 'file-input'
                        },
                        {
                            label: 'Background Position',
                            name: 'header_background_img_position',
                            options: 'background_position',
                            type: 'select-input'
                        },
                        {
                            label: 'Background Repeat',
                            name: 'header_background_img_repeat',
                            options: 'background_repeat',
                            type: 'select-input'
                        }
                    ]
                }
            }
        },
    	mounted() {
			this.images = {
				header_background_img: ''
			};
            this.options = {
				background_position: [
                    'center center',
                    'center left',
                    'center right',
                    'top center',
                    'top left',
                    'top right',
                    'bottom center',
                    'bottom left',
                    'bottom right'
                ],
				background_repeat: [
                    'no-repeat',
                    'repeat-y',
                    'repeat-x',
                    'repeat'
                ]
			};
    	},
    	watch: {
    		option_inputs: function(newValue, oldValue) {
                if(newValue) this.header_inputs = newValue;
    		}
    	},
        methods: {
            setProprties () {
				for (let property in this.images) {
					if (this.header.hasOwnProperty(property)) {
						this.images[property] = this.header[property];
					}
				}
            },
            getImage($indx) {
                return this.images[$indx];
            },
            updateFromInputs ($input) {
                this.header[$input.key] = $input.value;
            },
            update ()
            {
                this.$parent.toggleSpinner(true);

                let self = this;
                let formData = new FormData();
                formData.append('section', 'header');
                formData.append('slug', this.slug);

                Object.keys(this.header).map(function(key) {
                    formData.append(key, self.header[key]);
                });

                axios.post('/api/option-header/' + this.path_id, formData)
                .then((data) => {
                    if(!data.data.error) {
                            this.$swal({
                                position: 'top-end',
                                type: 'success',
                                title: 'Header options is updated!',
                                showConfirmButton: false,
                                timer: 1200
                            });
                    }
                    else {
                        this.$swal({
                            position: 'top-end',
                            type: 'error',
                            title: 'Error in Submission!',
                            text: data.data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
                .finally (() => {
                    this.$parent.$parent.$refs.overviewPath[0].updatePreview();
                    this.$parent.toggleSpinner(false);
                })
            }
        }
    }
</script>

<style lang="css" scoped>
</style>
