<template>
    <div class="tab-pane fade" :id="slug + '_nav_bar'" role="tabpanel">
        <div v-for="(inputs, section) in nav_bar_inputs" class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" :href="'#nav_bar_' + section" aria-expanded="false">
                        {{ section }}
                    </a>
                </h5>
            </div>
            <div :id="'nav_bar_' + section" class="collapse show" role="tabpanel" :aria-labelledby="'nav_bar_' + section" data-parent="#accordion" style="">
                <div class="card-body">
                    <div v-for="input in inputs"
                        :is="input.type"
						:label="input.label"
						:name="input.name"
						:value="(input.value)? nav_bar[input.value] : nav_bar[input.name]"
						:imgvalue="getImage(input.name)"
                        :default="input.default"
                        :options="options[input.options]"
                        :remove_url="'/api/option-remove/' + path_id"
						@change="updateFromInputs"
					></div>
                </div>
            </div>
        </div>
        <div class="card-footer border border-gray-200">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>


    </div>
</template>

<script>
	import TextInput from './_FormInputs/TextInput';
	import SelectInput from './_FormInputs/SelectInput';
	import SwitchInput from './_FormInputs/SwitchInput';
	import FileInput from './_FormInputs/FileInput';
    export default {
        name: 'nav-bar-options',
		components: {
            TextInput,
			SelectInput,
			SwitchInput,
			FileInput
		},
        props: [
            'base_url', 'path_id', 'slug', 'nav_bar', 'option_inputs'
        ],
        data() {
            return {
    			images: {},
    			options: {},
                // Defaults
                nav_bar_inputs: {
                    display: [
                        {
                            label: 'Show Navigation Bar',
                            name: 'show_nav_bar',
                            default: 'true',
                            type: 'switch-input'
                        }
                    ],
                    logo: [
                        {
                            label: 'Path logo',
                            name: 'nav_bar_logo',
                            type: 'file-input'
                        }
                    ],
                }
            }
        },
        mounted() {
            this.options = {
                background_position: [
                    'center center',
                    'center left',
                    'center right',
                    'top center',
                    'top left',
                    'top right',
                    'bottom center',
                    'bottom left',
                    'bottom right'
                ],
                background_repeat: [
                    'no-repeat',
                    'repeat-y',
                    'repeat-x',
                    'repeat'
                ]
            };
        },
    	watch: {
    		option_inputs: function(newValue, oldValue) {
                if(newValue) this.nav_bar_inputs = newValue;
    		}
    	},
        methods: {
            setProprties () {
                if(this.nav_bar.nav_bar_logo) {
                    this.show_nav_bar_logo = true;
                    this.nav_bar_logo = this.nav_bar.nav_bar_logo;
                }
            },
            getImage($indx) {
                return this.images[$indx];
            },
            updateFromInputs ($input) {
                this.nav_bar[$input.key] = $input.value;
            },
            update ()
            {
                this.$parent.toggleSpinner(true);

                let self = this;
                let formData = new FormData();
                formData.append('section', 'nav_bar');
                formData.append('slug', this.slug);

                Object.keys(this.nav_bar).map(function(key) {
                    formData.append(key, self.nav_bar[key]);
                });

                // let photo = document.getElementById('upload_nav_bar_logo');
                // let nav_bar_logo = photo.files[0];
                // if(nav_bar_logo) formData.append('nav_bar_logo', nav_bar_logo);

                axios.post('/api/option-nav-bar/' + this.path_id, formData)
                .then((data) => {
                    if(!data.data.error) {
                            this.$swal({
                                position: 'top-end',
                                type: 'success',
                                title: 'Navigation bar options is updated!',
                                showConfirmButton: false,
                                timer: 1200
                            });
                    }
                    else {
                        this.$swal({
                            position: 'top-end',
                            type: 'error',
                            title: 'Error in Submission!',
                            text: data.data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
                .finally (() => {
                    this.$parent.$parent.$refs.overviewPath[0].updatePreview();
                    this.$parent.toggleSpinner(false);
                })
            }
        }
    }
</script>

<style lang="css" scoped>
</style>
