<template>
    <ul class="nav nav-tabs" id="options_tab" role="tablist">
        <li class="nav-item">
            <a @click="updateCurrentTab('general')" class="nav-link active" data-toggle="tab" :href="'#' + slug + '_general'" role="tab" aria-selected="true">
                General
            </a>
        </li>
        <li class="nav-item">
            <a @click="updateCurrentTab('themes')" class="nav-link" data-toggle="tab" :href="'#' + slug + '_themes'" role="tab" aria-selected="false">
                Themes
            </a>
        </li>
        <li class="nav-item">
            <a v-show="option_inputs.hasOwnProperty('header')" @click="updateCurrentTab('header')" class="nav-link" data-toggle="tab" :href="'#' + slug + '_header'" role="tab" aria-selected="false">
                Header
            </a>
        </li>
        <li class="nav-item">
            <a v-show="option_inputs.hasOwnProperty('footer')" @click="updateCurrentTab('footer')" class="nav-link" data-toggle="tab" :href="'#' + slug + '_footer'" role="tab" aria-selected="false">
                Footer
            </a>
        </li>
        <li class="nav-item">
            <a v-show="option_inputs.hasOwnProperty('progress_bar')" @click="updateCurrentTab('progress_bar')" class="nav-link" data-toggle="tab" :href="'#' + slug + '_progress_bar'" role="tab" aria-selected="false">
                Progress Bar
            </a>
        </li>
        <li class="nav-item">
            <a v-show="option_inputs.hasOwnProperty('nav_bar')" @click="updateCurrentTab('nav_bar')" class="nav-link" data-toggle="tab" :href="'#' + slug + '_nav_bar'" role="tab" aria-selected="false">
                Navigation Bar
            </a>
        </li>
        <li class="nav-item">
            <a v-show="option_inputs.hasOwnProperty('content')" @click="updateCurrentTab('content')" class="nav-link" data-toggle="tab" :href="'#' + slug + '_content'" role="tab" aria-selected="false">
                Main Content
            </a>
        </li>
        <li class="nav-item">
            <a v-show="option_inputs.hasOwnProperty('feedback')" @click="updateCurrentTab('feedback')" class="nav-link" data-toggle="tab" :href="'#' + slug + '_feedback'" role="tab" aria-selected="false">
                Feedback
            </a>
        </li>
        <li class="nav-item">
            <a @click="updateCurrentTab('style')" class="nav-link" data-toggle="tab" :href="'#' + slug + '_style'" role="tab" aria-selected="false">
                Styles
            </a>
        </li>
        <li class="nav-item">
            <a @click="updateCurrentTab('trackers')" class="nav-link" data-toggle="tab" :href="'#' + slug + '_trackers'" role="tab" aria-selected="false">
                Trackers
            </a>
        </li>
        <li class="nav-item">
            <a @click="updateCurrentTab('terms')" class="nav-link" data-toggle="tab" :href="'#' + slug + '_terms'" role="tab" aria-selected="false">
                Terms of Use
            </a>
        </li>
        <li class="nav-item">
            <a @click="updateCurrentTab('privacy')" class="nav-link" data-toggle="tab" :href="'#' + slug + '_privacy'" role="tab" aria-selected="false">
                Privacy Policy
            </a>
        </li>
    </ul>
</template>

<script>
export default {
    name: 'nav_tabs-options',
    data() {
        return {
            current_tab: ''
        }
    },
    props: [
        'slug', 'option_inputs'
    ],
	mounted() {
		this.updateCurrentTab('general');
	},
    methods: {
        updateCurrentTab ($current_tab)
        {
            this.current_tab = this.slug + '-' + $current_tab;
            this.$parent.current_tab = this.current_tab;
        }
    }
}
</script>

<style lang="css" scoped>
</style>
