<template>
    <div class="tab-pane fade" :id="slug + '_progress_bar'" role="tabpanel">
        <div v-for="(inputs, section) in progress_bar_inputs" class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" :href="'#progress_bar_' + section" aria-expanded="false">
                        {{ section }}
                    </a>
                </h5>
            </div>
            <div :id="'progress_bar_' + section" class="collapse show" role="tabpanel" :aria-labelledby="'progress_bar_' + section" data-parent="#accordion" style="">
                <div class="card-body">
                    <div v-for="input in inputs"
                        :is="input.type"
						:label="input.label"
						:name="input.name"
						:value="(input.value)? progress_bar[input.value] : progress_bar[input.name]"
						:imgvalue="getImage(input.name)"
                        :default="input.default"
                        :append="input.append"
                        :custom_progressbar="customProgressBar"
                        :remove_url="'/api/option-remove/' + path_id"
						@change="updateFromInputs"
					></div>
                </div>
            </div>
        </div>
        <div class="card-footer border border-gray-200">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
    </div>
</template>

<script>
	// import TextInput from './_FormInputs/TextInput';
	// import SelectInput from './_FormInputs/SelectInput';
	import SwitchInput from './_FormInputs/SwitchInput';
	// import FileInput from './_FormInputs/FileInput';
	import InputGroup from './_FormInputs/InputGroup';
	import BootstrapProgressbarInput from './_FormInputs/BootstrapProgressbarInput';
	import CustomProgressbarInput from './_FormInputs/CustomProgressbarInput';
    export default {
        name: 'progress-bar-options',
        components: {
            // TextInput,
            // SelectInput,
            SwitchInput,
            // FileInput,
            InputGroup,
            BootstrapProgressbarInput,
            CustomProgressbarInput
        },
        props: [
            'base_url', 'path_id', 'slug', 'progress_bar', 'customProgressBar', 'option_inputs'
        ],
        data() {
            return {
                images: {},
                options: {},
                append: [
                    {text: 'px'}
                ],
                // Defaults
                progress_bar_inputs: {
                    display: [
                        {
                            label: 'Show Progress Bar',
                            name: 'show_progress_bar',
                            default: 'true',
                            type: 'switch-input'
                        }
                    ],
                    dimension: [
                        {
                            label: 'Height',
                            name: 'progress_bar_height',
                            append: [
                                {text: 'px'}
                            ],
                            type: 'input-group'
                        }
                    ],
                    bootstrap_type: [
                        {
                            name: 'progress_bar_type',
                            type: 'bootstrap-progressbar-input'
                        }
                    ],
                    custom_type: [
                        {
                            name: 'progress_bar_type',
                            value: 'custom_file_name',
                            type: 'custom-progressbar-input'
                        }
                    ],
                }
            }
        },
    	mounted() {
    	},
    	watch: {
    		option_inputs: function(newValue, oldValue) {
                if(newValue) this.progress_bar_inputs = newValue;
    		}
    	},
        methods: {
            updateFromInputs ($input) {
                this.progress_bar[$input.key] = $input.value;
            },
            getImage($indx) {
                return this.images[$indx];
            },
            updateProgressBarType () {
                this.progress_bar.progress_bar_type = 'custom';
            },
            update ()
            {
                this.$parent.toggleSpinner(true);

                let themes = this.$parent.getOptions('themes');

                let self = this;
                let formData = new FormData();
                formData.append('section', 'progress_bar');
                formData.append('slug', this.slug);
                formData.append('color', themes.color);
                formData.append('template', themes.template);

                Object.keys(this.progress_bar).map(function(key) {
                    formData.append(key, self.progress_bar[key]);
                });

                axios.post('/api/option-progress-bar/' + this.path_id, formData)
                .then((data) => {
                    if(!data.data.error) {
                            this.$swal({
                                position: 'top-end',
                                type: 'success',
                                title: 'Progress bar options is updated!',
                                showConfirmButton: false,
                                timer: 1200
                            });
                    }
                    else {
                        this.$swal({
                            position: 'top-end',
                            type: 'error',
                            title: 'Error in Submission!',
                            text: data.data.msg,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
                .finally (() => {
                    this.$parent.$parent.$refs.overviewPath[0].updatePreview();
                    this.$parent.toggleSpinner(false);
                })
            }
        }
    }
</script>

<style lang="css" scoped>
</style>
