<template>
    <div class="tab-pane fade" :id="slug + '_style'" role="tabpanel">
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#style_one" aria-expanded="false">
                        Stylesheet
                    </a>
                    <ul class="nav nav-tabs float-right" role="tablist">
                        <li class="nav-item">
                            <a @click="current_style_tab = 'editor'" :class="'nav-link' + styleTab('editor')" data-toggle="tab" href="#editor" role="tab">
                                _editor.scss
                            </a>
                        </li>
                        <li class="nav-item">
                            <a @click="current_style_tab = 'backup'" :class="'nav-link' + styleTab('backup')" data-toggle="tab" href="#backup" role="tab">
                                _backup.scss
                            </a>
                        </li>
                    </ul>
                </h5>
            </div>
            <div id="style_one" class="collapse show" role="tabpanel" aria-labelledby="style_one" data-parent="#accordion" style="">
                <div class="card-body">
                    <div class="tab-content">
                        <textarea  :class="'form-control tab-pane' + styleTab('editor')" id="editor" rows="22" v-model="style.editor"></textarea>
                        <textarea :class="'form-control tab-pane' + styleTab('backup')" id="backup" rows="22" v-model="style.backup" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer border border-gray-200">
            <button v-show="current_style_tab != 'backup'" class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
            <button v-show="current_style_tab == 'editor' && style.temp_size == 0" class="btn btn-lg btn-secondary" @click="backupStyle">
                <i class="fa fa-dot-circle-o"></i> Backup
            </button>
            <button v-show="current_style_tab == 'backup' && style.backup_size > 0" class="btn btn-lg btn-secondary" @click="revertStyle">
                <i class="fa fa-dot-circle-o"></i> Revert
            </button>
            <button v-show="current_style_tab == 'editor' && style.temp_size > 0" class="btn btn-lg btn-secondary" @click="applyRevision">
                <i class="fa fa-dot-circle-o"></i> Apply Reversion
            </button>
            <button v-show="current_style_tab == 'editor' && style.temp_size > 0" class="btn btn-lg btn-secondary" @click="cancelRevision">
                <i class="fa fa-dot-circle-o"></i> Cancel Reversion
            </button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'footer-options',
    data() {
        return {
            style: {},
            current_style_tab: 'editor'
        }
    },
    props: [
        'base_url', 'path_id', 'slug'
    ],
	mounted() {
        // this.getStyles();
	},
    methods: {
        getStyles()
        {
            axios.get('/api/style/' + this.slug)
            .then((data) => {
                this.style = data.data;
                return this.style;
            })
            .catch((error) => {
                console.log('error: ', error);
            })
        },
        styleTab($tab) {
            if (this.current_style_tab == $tab) {
                return ' active';
            }
            return '';
        },
        applyRevision() {
            this.$parent.toggleSpinner(true);

            axios.post('/api/style/apply-reversion/' + this.path_id, {
                slug: this.slug
            })
            .then((data) => {
                if(!data.data.error) {
                    this.$swal({
                        position: 'top-end',
                        type: 'success',
                        title: 'Style options is updated!',
                        text: 'Style revision isapplied!',
                        showConfirmButton: false,
                        timer: 1200
                    });
                    this.style.temp_size = data.data.temp_size;
                }
                else {
                    this.$swal({
                        position: 'top-end',
                        type: 'error',
                        title: 'Error in Submission!',
                        text: data.data.msg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
                this.$parent.toggleSpinner(false);
            })
            .catch((error) => {
                console.log('error: ', error);
            })
        },
        cancelRevision() {
            this.$parent.toggleSpinner(true);

            axios.post('/api/style/cancel-reversion/' + this.slug)
            .then((data) => {
                if(!data.data.error) {
                    this.$swal({
                        position: 'top-end',
                        type: 'success',
                        title: 'Style options is updated!',
                        text: 'Style revision is cancled!',
                        showConfirmButton: false,
                        timer: 1200
                    });
                    this.style.editor = data.data.content;
                    this.style.temp_size = data.data.temp_size;
                }
                else {
                    this.$swal({
                        position: 'top-end',
                        type: 'error',
                        title: 'Error in Submission!',
                        text: data.data.msg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
                this.$parent.toggleSpinner(false);
            })
            .catch((error) => {
                console.log('error: ', error);
            })
        },
        revertStyle () {
            this.$parent.toggleSpinner(true);

            axios.post('/api/style/revert/' + this.slug)
            .then((data) => {
                if(!data.data.error) {
                    this.$swal({
                        position: 'top-end',
                        type: 'success',
                        title: 'Style options is updated!',
                        text: 'Revert style from backup!',
                        showConfirmButton: false,
                        timer: 1200
                    });
                    this.style.editor = data.data.content;
                    this.style.editor_size = data.data.size;
                    this.style.temp_size = data.data.temp_size;
                    this.current_style_tab = 'editor';
                }
                else {
                    this.$swal({
                        position: 'top-end',
                        type: 'error',
                        title: 'Error in Submission!',
                        text: data.data.msg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
                this.$parent.toggleSpinner(false);

            })
            .catch((error) => {
                console.log('error: ', error);
            })
        },
        backupStyle () {
            this.$parent.toggleSpinner(true);

            axios.post('/api/style/backup/' + this.slug)
            .then((data) => {
                if(!data.data.error) {
                    this.$swal({
                        position: 'top-end',
                        type: 'success',
                        title: 'Style options is updated!',
                        text: 'Backup is done!',
                        showConfirmButton: false,
                        timer: 1200
                    });
                    this.style.backup = data.data.content;
                    this.style.backup_size = data.data.size;
                }
                else {
                    this.$swal({
                        position: 'top-end',
                        type: 'error',
                        title: 'Error in Submission!',
                        text: data.data.msg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
                this.$parent.toggleSpinner(false);
            })
            .catch((error) => {
                console.log('error: ', error);
            })
        },
        update ()
        {
            this.$parent.toggleSpinner(true);

            let themes = this.$parent.getOptions('themes');
            let progress_bar = this.$parent.getOptions('progress_bar');

            let self = this;
            let formData = new FormData();
            formData.append('slug', this.slug);
            formData.append('content', this.style.editor);
            formData.append('color', themes.color);
            formData.append('template', themes.template);
            formData.append('progress_bar_type', progress_bar.progress_bar_type);
            formData.append('custom_file_name',progress_bar.custom_file_name);

            axios.post('/api/style/update/' + this.path_id, formData)
            .then((data) => {
                if(!data.data.error) {
                        this.$swal({
                            position: 'top-end',
                            type: 'success',
                            title: 'Style options is updated!',
                            showConfirmButton: false,
                            timer: 1200
                        });
                }
                else {
                    this.$swal({
                        position: 'top-end',
                        type: 'error',
                        title: 'Error in Submission!',
                        text: data.data.msg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            })
            .catch((error) => {
                console.log('error: ', error);
            })
            .finally (() => {
                this.$parent.$parent.$refs.overviewPath[0].updatePreview();
                this.$parent.toggleSpinner(false);
            })
        }
    }
}
</script>

<style lang="css" scoped>
</style>
