<template>
    <div class="tab-pane fade" :id="slug + '_terms'" role="tabpanel">
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#terms_one" aria-expanded="false">
                        Terms Of Use
                    </a>
                </h5>
            </div>
            <div id="terms_one" class="collapse show" role="tabpanel" aria-labelledby="terms_one" data-parent="#accordion" style="">
                <div class="card-body">
                    <textarea class="form-control" rows="22" v-model="terms"></textarea>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'terms-options',
    data() {
        return {
        }
    },
    props: [
        'base_url', 'path_id', 'slug', 'terms'
    ],
	mounted() {
	},
    methods: {

    }
}
</script>

<style lang="css" scoped>
</style>
