<template>
    <div class="tab-pane fade" :id="slug + '_themes'" role="tabpanel">
        <div v-for="(inputs, section) in themes_inputs" class="card">
            <div v-if="section != 'template'" class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" :href="'#themes_' + section" aria-expanded="false">
                        {{ section }}
                    </a>
                </h5>
            </div>
            <div v-if="section != 'template'"  :id="'themes_' + section" class="collapse show" role="tabpanel" :aria-labelledby="'themes_' + section" data-parent="#accordion" style="">
                <div class="card-body">
                    <div v-for="input in inputs"
                        :is="input.type"
						:label="input.label"
						:name="input.name"
						:value="(input.value)? themes[input.value] : themes[input.name]"
						:imgvalue="getImage(input.name)"
                        :default="input.default"
                        :options="options[input.options]"
                        :remove_url="'/api/option-remove/' + path_id"
						@change="updateFromInputs"
					></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0">
                    <a data-toggle="collapse" :href="'#' + slug + '_themes_template'" aria-expanded="false">
                        Templates
                    </a>
                </h5>
            </div>
            <div :id="slug + '_themes_template'" class="collapse show" role="tabpanel" :aria-labelledby="slug + '_themes_template'" data-parent="#accordion" style="">
                <div class="card-body">
                    <template-input
                        :name="'template'"
                        :value="themes.template"
                        :options="templates"
						@change="updateFromInputs"
                    ></template-input>
                </div>
            </div>
        </div>
        <div class="card-footer border border-gray-200">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
    </div>
</template>

<script>
import ColorPickerInput from './_FormInputs/ColorPickerInput';
import TemplateInput from './_FormInputs/TemplateInput';

export default {
    name: 'themes-options',
    components: {
        ColorPickerInput,
        TemplateInput
    },
    props: [
        'base_url', 'path_id', 'slug', 'templates', 'themes', 'option_inputs'
    ],
    data() {
        return {
            images: {},
            options: {},
            // Defaults
            themes_inputs: {}
        }
    },
    watch: {
        option_inputs: function(newValue, oldValue) {
            if(newValue) this.themes_inputs = newValue;
        }
    },
    methods: {
        updateFromInputs ($input) {
            this.themes[$input.key] = $input.value;
            if($input.key == 'template') this.update();
        },
        getImage($indx) {
            return this.images[$indx];
        },

        setProprties () {

        },
        update ()
        {
            this.$parent.toggleSpinner(true);

            let self = this;
            let formData = new FormData();
            formData.append('section', 'themes');
            formData.append('slug', this.slug);

            Object.keys(this.themes).map(function(key) {
                formData.append(key, self.themes[key]);
            });

            let progress_bar = this.$parent.getOptions('progress_bar');
            formData.append('progress_bar_type', progress_bar.progress_bar_type);
            formData.append('custom_file_name', progress_bar.custom_file_name);

            axios.post('/api/option-theme/' + this.path_id, formData)
            .then((data) => {
                if(!data.data.error) {

                        this.show_cancel = false;
                        console.log(this.$refs);

                        // this.$refs.colors.showCancelBtn(false);

                        this.$parent.updateOptions('themes', this.themes);
                        this.$parent.updateOptionInputsByTemplate(this.themes.template);

                        this.$parent.$parent.setCurrentTemplate(this.themes.template);

                        this.$swal({
                            position: 'top-end',
                            type: 'success',
                            title: 'Theme options is updated!',
                            showConfirmButton: false,
                            timer: 1200
                        });
                }
                else {
                    this.$swal({
                        position: 'top-end',
                        type: 'error',
                        title: 'Error in Submission!',
                        text: data.data.msg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            })
            .catch((error) => {
                console.log('error: ', error);
            })
            .finally (() => {
                this.$parent.$parent.$refs.overviewPath[0].updatePreview();
                this.$parent.toggleSpinner(false);
            })
        }
    }
}
</script>

<style lang="css" scoped>
    .vc-chrome, .vc-photoshop {
    	position: absolute;
        top: 35px;
        right: 16px;
        z-index: 9;
        width: 94%;
    }
    .current-color {
    	/* display: inline-block; */
    	width: 35px;
    	height: 35px;
    	background-color: #c2cfd6;
    	cursor: pointer;
        /* position: absolute; */
        /* right: 16px; */
    }
    .hide {
        display: none !important;
    }
</style>
