
// Fonts
// @import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all);
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
// coreui
@import '~flag-icon-css/css/flag-icon.css';
@import '~font-awesome/css/font-awesome.css';
@import '~simple-line-icons/css/simple-line-icons.css';

//animate css
@import "animate/animate.scss";
