<template>
    <modal name="add-permission">
		<div class="card">
			<div class="card-header">
				<strong>Create </strong>
				<small>Permission</small>
			</div>
			<div class="card-body">
				<form action="" method="post" class="form-horizontal"  @submit.prevent="submitPermissionForm()">
					<div class="form-group row">
						<div class="col-md-12">
							<div class="input-group">
								<input v-model="permissionName" type="text" id="input1-group1" name="name_role" class="form-control" placeholder="Permission Name">
							</div>
						</div>
					</div>
					<div class="card-footer">
						<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
						<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
					</div>
				</form>
			</div>
		</div>
    </modal>
</template>
<script>
	export default {
		data() {
			return {
				permissionName: ''
			}
		},
		methods: {
			submitPermissionForm() {
				axios.post('/api/create-permission', {
					name: this.permissionName
				})
				.then((data) => {
					this.permissionName = '';
					this.$toaster.success('Sucess adding Permission');
					this.$emit('get-roles-permissions')
				})
				.catch((error) => {
					for(const [key, val] of Object.entries(error.response.data.errors)) {
						this.$toaster.error(val[0]);
					}
				})
			},
		}
	}
</script>
<style lang="scss" scoped>
</style>
