<template>
    <modal
        name="add-role"
        height="auto"
        @before-open="beforeOpen">
        <div class="card">
            <div class="card-header">
                <strong>Create Role</strong>
            </div>
            <div class="card-body">
                <form action="" method="post" class="form-horizontal"  @submit.prevent="submitRoleForm">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input v-model="roleName" type="text" id="input1-group1" name="name_role" class="form-control" placeholder="Role Name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-3 col-form-label">Checkboxes</label>
                            <div class="col-md-9 col-form-label" v-for="permission of permissions">
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" :value="permission.id" id="permission.id" v-model="checkedPermissions">
                                    <label class="form-check-label" for="check1">
                                        {{ permission.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span>Checked Permissions: {{ checkedPermissions }}</span>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-success"><i v-if="loading" class='fa fa-spinner fa-spin '></i> Submit</button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </modal>
</template>
<script>
    export default {
        data() {
            return {
                roleName: '',
                checkedPermissions:[],
                permissions:'',
                loading: false,
            }
        },
        methods: {
            beforeOpen (event) {
                this.permissions = event.params.permissions;
            },
            submitRoleForm() {
                this.loading = true;
				axios.post('/api/create-role', {
					name: this.roleName,
                    permissions: this.checkedPermissions,
				})
				.then(() => {
                    this.$emit('get-user-roles');
                    this.roleName = '';
                    this.checkedPermissions = [];
                    this.$toaster.success('Success Adding Role');
                    this.loading = false;
				})
				.catch((error) => {
                    this.loading = false;
                    switch (error.response.status) {
                        case 401:
                            this.$toaster.error("401, UnAuthorized")
                            break;
                        default:
                            for(const [key, val] of Object.entries(error.response.data.errors)) {
                                this.errors += val[0];
                                this.$toaster.error(val[0])
        					}
                            break;
                    }
				})
            }
        }
    }
</script>
<style lang="scss" scoped>
</style>
