<template>
    <modal name="edit-role"
        height="auto"
        @before-open="beforeOpen">
        <div class="card">
            <div class="card-header">
                <strong>Update Role</strong>
            </div>
            <div class="card-body">
                <form action="" method="post" class="form-horizontal"  @submit.prevent="submitUpdateRole()">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input value="roleName" v-model="roleName" type="text" id="input1-group1" name="name_role" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-3 col-form-label">Checkboxes</label>
                            <div class="col-md-9 col-form-label" v-for="permission of permissions">
                                <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" :value="permission.id" id="permission.id" v-model="checkedPermissions">
                                    <label class="form-check-label" for="check1">
                                        {{ permission.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span>Checked Permissions: {{ checkedPermissions }}</span>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </modal>
</template>
<script>
    export default {
        data() {
            return {
                roleName: '',
                permissions: '',
                checkedPermissions:[],
                roleEditId: Number,
            }
        },
        methods: {
            beforeOpen (event) {
                this.permissions = event.params.permissions;
                this.roleName = event.params.roleProperty.name;
                this.roleEditId = event.params.roleProperty.id;
            },
            submitUpdateRole() {
                axios.post('/api/update-roles/' + this.roleEditId, {
                    name: this.roleName,
                    permissions: this.checkedPermissions,
                    id: this.roleEditId,
                })
                .then((data) => {
                    this.$emit('get-user-roles');
                    this.checkedPermissions = [];
                    this.$toaster.success(`Success updating Role ${name}`);
                })
                .catch((error) => {
                    this.showUpdateRoles = false;
                    this.jobname = 'Update';
                    for(const [key, val] of Object.entries(error.response.data.errors)) {
                        this.$toaster.error(val[0]);
					}
                    this.showUpdateRoles = true;
                })
            },
        }
    }
</script>
<style lang="scss" scoped>
</style>
