<template>
    <section>
        <div v-if="active_path == ''" class="row">
            <div class="col-lg-12">
                <div class="card mb-1">
                    <div class="card-header bg-gray-200">
                        <i class="fa fa-align-justify"></i>
                        Paths
                        <div class="card-actions">
                            <a v-show="show_add_btn" href="#" id="addRoles" @click="toggleCreatePath">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="paths.length > 0" v-for="(data, index) of paths">
            <div v-if="active_path == '' || active_path == data.slug" class="card mb-1">
                <div class="card-header" role="tab">
                    <a class="text-danger font-weight-bold" data-toggle="collapse" :id="data.slug + '-toggler'" :href="'#' + data.slug" aria-expanded="false" @click="focus($event, data.slug, index)">
        			 {{ data.name }}
                    </a>
        			<div class="card-actions nav" role="tablist">
                        <span lass="nav-item">
                            <label class="switch switch-text switch-pill switch-primary" style="margin: 12px 14px 0px">
                                <input name="my-checkbox" type="checkbox" class="switch-input" :checked="data.status" :value="data.status" >
                                <span class="switch-label" data-on="On" data-off="Off" @click="switchOnOff(data.id, data.status, index)"></span>
                                <span class="switch-handle" @click="switchOnOff(data.id, data.status, index)"></span>
                            </label>
                        </span>
                        <!-- <a data-toggle="collapse"
                            :id="data.slug + '-toggler'"
                            :href="'#' + data.slug" aria-expanded="false"
                            @click="focus($event, data.slug)"
                        >
                            <i :class="arrow" @click="focus($event, data.slug)"></i>
                        </a> -->
                        <span lass="nav-item">
                            <a :id="data.slug + '-chart-nav'" class="chart nav-link" role="tab">
                                <i class="fa fa-bar-chart"></i>
                            </a>
                        </span>
                        <span lass="nav-item">
                            <a @click="removeClass(data.slug + '-update-nav', data.slug + '-option-nav', data.slug)" :id="data.slug + '-overview-nav'" class="overview nav-link" data-toggle="tab" :href="'#' + data.slug + '-overview'" role="tab">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </span>
                        <span lass="nav-item">
                            <a @click="removeClass(data.slug + '-overview-nav', data.slug + '-option-nav', data.slug)" :id="data.slug + '-update-nav'" class="update nav-link" data-toggle="tab" :href="'#' + data.slug + '-update'" role="tab">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </span>
                        <span lass="nav-item">
                            <a @click="removeClass(data.slug + '-overview-nav', data.slug + '-update-nav', data.slug)"  :id="data.slug + '-option-nav'" class="option nav-link" data-toggle="tab" :href="'#' + data.slug + '-option'" role="tab">
                                <i class="fa fa-cog"></i>
                            </a>
                        </span>
                        <a v-bind:href="data.url" target="_blank"><i class="fa fa-eye"></i></a>
                        <a href="javascipt:void" class="text-danger" @click="deletePath(index, data.id)"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                <div :id="data.slug" class="collapse fade slow" role="tabpanel" :aria-labelledby="data.slug" data-parent="#accordion" style="">
                    <div class="xcard-body">
                        <div class="tab-content">
                            <div class="tab-pane fade slow" :id="data.slug + '-overview'" role="tabpanel">
                                <overview ref="overviewPath" :index="index" :path="data" :templates="templates"></overview>
                            </div>
                            <div class="tab-pane fade" :id="data.slug + '-update'" role="tabpanel">
                                <update ref="updatePath" :index="index" :path="data"></update>
                            </div>
                            <div class="tab-pane fade" :id="data.slug + '-option'" role="tabpanel">
                                <options ref="options" :index="index" :path="data" :templates="templates" :colors="colors" :path_trackers="path_trackers" :customProgressBar="customProgressBar" :emailRecipients="emailRecipients"></options>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination v-if="active_path == ''" :pagination="pagination" @paginate="getAllPaths()" :offset="4"></pagination>


        <!-- Modal -->
        <modal
            name="theme-details"
            transition="nice-modal-fade"
            :width="'75%'"
            :height="'auto'"
            :pivotX="0.75"
            :delay="100"
            :scrollable="true"
            :adaptive="true"
            :resizable="false"
        >
            <div class="modal-header" style="xmargin-top: 55px;">
                <button type="button" class="close"  data-dismiss="modal" @click="closeModal" style="border-left: 1px solid #c2cfd6">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="theme-screenshot" style="overflow: hidden; height: 600px; overflow-y: scroll;}">
                            <img style="width: 100%; border: 1px solid #c2cfd6; padding: 1px" :src="selected('screenshot_src')" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="theme-info">
                            <span  v-show="current_template_slug == selected('slug')" class="current-label">Current Theme</span>
                            <h2 class="theme-name">{{ selected('name') }} <span class="theme-version"> {{ selected('version') }}</span></h2>
                            <p class="theme-author">By <a href="">{{ selected('creator') }}</a></p>
                            <div class="list-group">
    							<div class="list-group-item list-group-item-action flex-column align-items-start active">
    								<div v-html="selected('description')"></div>
    							</div>
    						</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="xmargin-bottom: 40px;">
                <button  v-show="current_template_slug != selected('slug')" type="button" class="btn btn-lg btn-info mb-3 mb-md-0 mr-md-3" @click="submitTemplate(selected('slug'))">Activate</button>
                <a :href="'/preview/' + selected('slug')" class="btn btn-lg btn-outline-primary mb-3 mb-md-0 mr-md-3" target="_blank">Live preview</a>
            </div>
        </modal>

    </section>
</template>

<script>
	import Overview from './Overview';
	import Update from './Update';
	import Options from './Options';
	import pagination from '../Paginator';
    export default {
        name: 'lists',
		components: {
            Overview,
            Update,
            Options,
			pagination,
		},
        data() {
            return {
                colors: [],
                templates : [],
                path_trackers : [],
                customProgressBar : [],
                emailRecipients : [],
                paths: '',
                pagination : {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                showAlert: false,
                message: {
                    variant: '',
                    message: '',
                    show: 5,
                },
                show_add_btn: true,
                preview_template_slug: '',
                current_template_slug: '',
                active_path: '',
                arrow: 'icon-arrow-down'
            }
        },
        created () {
            this.getEmailRecipients();
            this.getCustomProgressBar();
            this.getTemplates();
            this.getColors();
            this.getTrackers();
        },
        mounted() {
            this.getAllPaths();
        },
        methods: {
            focus: function ($event, $slug, $index) {
                if ($event.currentTarget.getAttribute('aria-expanded') == 'true'){
                    this.active_path = '';
                    this.arrow = 'icon-arrow-down';

                    document.getElementById($slug + '-overview-nav').classList.remove('active');
                    document.getElementById($slug + '-overview-nav').classList.remove('show');
                    document.getElementById($slug + '-overview').classList.remove('active');
                    document.getElementById($slug + '-overview').classList.remove('show');

                    document.getElementById($slug + '-update-nav').classList.remove('active');
                    document.getElementById($slug + '-update-nav').classList.remove('show');
                    document.getElementById($slug + '-update').classList.remove('active');
                    document.getElementById($slug + '-update').classList.remove('show');

                    document.getElementById($slug + '-option-nav').classList.remove('active');
                    document.getElementById($slug + '-option-nav').classList.remove('show');
                    document.getElementById($slug + '-option').classList.remove('active');
                    document.getElementById($slug + '-option').classList.remove('show');
                }
                else {
                    this.active_path = $slug;
                    this.arrow = 'icon-arrow-up';

                    document.getElementById($slug + '-overview-nav').classList.add('active');
                    document.getElementById($slug + '-overview-nav').classList.add('show');
                    document.getElementById($slug + '-overview').classList.add('active');
                    document.getElementById($slug + '-overview').classList.add('show');
                }
                if(!this.show_add_btn) this.toggleCreatePath();
            },
            toggleAddBtn ()
            {
                this.show_add_btn = !this.show_add_btn;
            },
            toggleCreatePath() {
                this.toggleAddBtn();
                this.$parent.$refs.pathCreate.toggleForm();
            },
            selected ($property) {
                let selected = this.templates[this.preview_template_slug];

                if(!selected) return '';
                if(!selected.hasOwnProperty($property)) return '';

                return selected[$property];
            },
            setPreviewTemplate ($template_slug)
            {
                this.preview_template_slug = $template_slug;
            },
            setCurrentTemplate ($template_slug)
            {
                this.current_template_slug = $template_slug;
            },
            submitTemplate ($slug) {
                this.$refs.options[0].$refs.themes.updateFromInputs({
                    key: 'template',
                    value: $slug
                });
            },
            removeClass ($id1, $id2, $slug) {
                this.active_path = $slug;

                document.getElementById($id1).classList.remove('active');
                document.getElementById($id1).classList.remove('show');

                document.getElementById($id2).classList.remove('active');
                document.getElementById($id2).classList.remove('show');

                let toggler = document.getElementById($slug + '-toggler');

                if(toggler.getAttribute('aria-expanded') == 'false') {
                    toggler.setAttribute("aria-expanded", "true");
                    document.getElementById($slug).classList.add('show');
                }
            },
            getColors () {
                axios.get('/api/colors')
                .then((data) => {
                    this.colors = data.data;
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
            },
            getTrackers()
            {
                axios.get('/api/trackers/')
                .then((data) => {
                    this.path_trackers = data.data;
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
            },
            getTemplates() {
                axios.get('/api/templates')
                .then((data) => {
                    this.templates = data.data;
                    console.log(this.templates);
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
            },
            getCustomProgressBar()
            {
                axios.get('/api/custom-progress-bar/')
                .then((data) => {
                    this.customProgressBar = data.data;
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
            },
            getEmailRecipients()
            {
                axios.get('/api/email-recipients')
                .then((data) => {
                    this.emailRecipients = data.data;
                })
                .catch((error) => {
                    console.log('error: ', error);
                })
            },
            updateOptions ($indx, $options)
            {
                this.paths[$indx]['options'] = $options;
                console.log(this.paths);
            },
            refreshTable()
            {
                this.getAllPaths();
            },
            closeModal () {
                this.$modal.hide('theme-details');
            },
            getAllPaths() {
                axios.get(`/api/all-paths?page=${this.pagination.current_page}`)
                .then((data) => {
                    this.paths = data['data'].data
                    this.pagination = data['data'].meta
                    this.show_add_btn = true;
                })
                .catch((error) => {
                    console.log(error.toString());
                })
                .finally(() => {
                    if(!this.$refs.hasOwnProperty('options')) return;

                    for(let count = 0; count < this.$refs.options.length; count ++) {
                        this.$refs.options[count].$refs.general.setProprties();
                        this.$refs.options[count].$refs.themes.setProprties();
                        this.$refs.options[count].$refs.header.setProprties();
                        this.$refs.options[count].$refs.navBar.setProprties();
                        this.$refs.options[count].$refs.content.setProprties();
                    }
                })
            },
            switchOnOff(id,status, index){
                const confirmation = confirm("Are you sure to update the status?, you can revert this during your lifetime")
                if(!confirmation) {
                    event.preventDefault()
                    return false;
                }
                axios.post(`/api/path-status/${id}`, {
                    status: status
                })
                .then((datas) => {
                    let data = datas['data'];
                    let path = this.paths.find((path) => path.id === data.id)
                    if (path) {
                        let index = this.paths.indexOf(path);
                        this.paths[index].status = data.status;
                        this.paths[index].updated_by = data.updated_by;
                        this.paths[index].date_updated = moment(data.date_updated).fromNow();
                        this.$toaster.success(`Success updating path status`);
                    }
                })
                .catch((err) => {
                    console.log(error.toString());
                })
            },
            deletePath ($index, $path_id)
            {
                const confirmation = confirm("Are you sure to remove this path?")
                if(!confirmation) {
                    event.preventDefault()
                    return false;
                }

                axios.delete('/api/path-delete/' + $path_id)
                .then((data) => {

                    if(!data.data.error) {
                        this.paths.splice($index);
                        alert('Done removing');
                        if(this.paths.length <= 0) {
                            this.active_path = '';
                            this.pagination.to = 0;
                        }
                    } else {
                        alert(data.data.msg);
                    }
                })
                .catch((err) => {
                    switch (err.response.data) {
                        case 'UnAuthorized':
                            this.$toaster.error(err.response.data)
                            break;
                        default:
                            console.log(err.toString())
                            break;
                    }
                })
            }
        }
    }
</script>

<style scoped>
.overview.active,
.option.active,
.update.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
</style>
