<template>
    <section>
        <!-- TABS -->
        <nav-tabs :slug="path.slug" :option_inputs="option_inputs"></nav-tabs>

        <div class="tab-content">

            <spinner :loading="spinner" :size="'134px'" :type="'moon'"></spinner>

            <!-- GENERAL TAB -->
            <option-general
                ref="general"
                :base_url="base_url"
                :path_id="path.id"
                :slug="path.slug"
                :option_inputs="option_inputs.general"
                :general="options.general"
            ></option-general>

            <option-themes
                ref="themes"
                :base_url="base_url"
                :path_id="path.id"
                :slug="path.slug"
                :templates="templates"
                :option_inputs="option_inputs.themes"
                :themes="options.themes"
            ></option-themes>

            <option-header
                v-show="option_inputs.hasOwnProperty('header')"
                ref="header"
                :base_url="base_url"
                :path_id="path.id"
                :slug="path.slug"
                :option_inputs="option_inputs.header"
                :header="options.header"
            ></option-header>

            <option-footer
                v-show="option_inputs.hasOwnProperty('footer')"
                ref="footer"
                :base_url="base_url"
                :path_id="path.id"
                :slug="path.slug"
                :option_inputs="option_inputs.footer"
                :footer="options.footer"
            ></option-footer>

            <option-progress-bar
                ref="progressBar"
                :base_url="base_url"
                :path_id="path.id"
                :slug="path.slug"
                :option_inputs="option_inputs.progress_bar"
                :progress_bar="options.progress_bar"
                :customProgressBar="customProgressBar"
            ></option-progress-bar>

            <option-nav-bar
                ref="navBar"
                :base_url="base_url"
                :path_id="path.id"
                :slug="path.slug"
                :option_inputs="option_inputs.nav_bar"
                :nav_bar="options.nav_bar"
            ></option-nav-bar>

            <option-content
                ref="content"
                :base_url="base_url"
                :path_id="path.id"
                :slug="path.slug"
                :option_inputs="option_inputs.content"
                :content="options.content"
            ></option-content>

            <option-feedback
                ref="feedback"
                :base_url="base_url"
                :path_id="path.id"
                :slug="path.slug"
                :option_inputs="option_inputs.feedback"
                :feedback="options.feedback"
                :emailRecipients="emailRecipients"
            ></option-feedback>

            <option-style
                ref="style"
                :base_url="base_url"
                :path_id="path.id"
                :slug="path.slug"
            ></option-style>

            <option-trackers
                ref="trackers"
                :base_url="base_url"
                :path_id="path.id"
                :slug="path.slug"
                :trackers="options.trackers"
                :path_trackers="path_trackers"
            ></option-trackers>

            <option-terms
                ref="terms"
                :base_url="base_url"
                :path_id="path.id"
                :slug="path.slug"
                :terms="options.terms"
            ></option-terms>

            <option-privacy
                    ref="privacy"
                :base_url="base_url"
                :path_id="path.id"
                :slug="path.slug"
                :privacy="options.privacy"
            ></option-privacy>
        </div>
    </section>
</template>

<script>
    import NavTabs from './_Options/NavTabs.vue';
    import OptionGeneral from './_Options/General.vue';
    import OptionThemes from './_Options/Themes.vue';
    import OptionHeader from './_Options/Header.vue';
    import OptionFooter from './_Options/Footer.vue';
    import OptionProgressBar from './_Options/ProgressBar.vue';
    import OptionNavBar from './_Options/NavBar.vue';
    import OptionContent from './_Options/Content.vue';
    import OptionStyle from './_Options/Style.vue';
    import OptionTrackers from './_Options/Trackers.vue';
    import OptionFeedback from './_Options/Feedback.vue';
    import OptionTerms from './_Options/Terms.vue';
    import OptionPrivacy from './_Options/Privacy.vue';

    export default {
        name: 'options',
        components : {
            NavTabs,
            OptionGeneral,
            OptionThemes,
            OptionHeader,
            OptionFooter,
            OptionProgressBar,
            OptionNavBar,
            OptionContent,
            OptionStyle,
            OptionTrackers,
            OptionFeedback,
            OptionTerms,
            OptionPrivacy
        },
        props: [
            'index', 'path', 'templates', 'colors', 'path_trackers', 'customProgressBar', 'emailRecipients'
        ],
        data() {
            return {
                base_url: '',
                template: '',
                style: {},
                option_inputs: {},
                options: {
                    general:  {
                    },
                    header:  {
                        show_header: 'true',
                        show_background_color: 'true',
                        show_header_text: 'true',
                    },
                    themes:  {
                        template: 'default'
                    },
                    nav_bar:  {
                        show_nav_bar: 'true',
                    },
                    progress_bar:  {
                        show_progress_bar: 'true'
                    },
                    footer:  {
                        show_footer: 'true'
                    },
                    content:  {
                    },
                    style:  {
                    },
                    trackers: {
                        files: []
                    },
                    feedback: {
                        show_feedback: 'true',
                        email_recipients: []
                    }
                },
                current_tab: 'general',
                spinner: false,
                has_path: false


            }
        },
    	mounted() {
    		this.setDetails();
    	},
    	watch: {
            templates: function(newValue, oldValue) {
                if(this.has_path) this.updateOptionInputs();
    		}
    	},
        methods: {
            updateOptionInputs () {
                this.template = 'default';
                if(this.path.options) {
                    if(this.path.options.hasOwnProperty('themes')) {
                        if (this.path.options.themes.hasOwnProperty('template'))this.template = this.path.options.themes.template;
                    }
                }

                this.option_inputs = this.templates[this.template]['option_inputs'];
            },
            updateOptionInputsByTemplate ($template) {
                console.log($template);
                console.log(this.templates);
                this.template = $template;
                this.option_inputs = this.templates[this.template]['option_inputs'];
            },
            toggleSpinner ($spin)
            {
                this.spinner = $spin;
            },
            setDetails() {
                let self = this;
                this.has_path = true;

                this.base_url = window.location.origin;

                this.current_tab = this.path.slug + '-general';

                if(this.path.options) {
                    this.options = this.extend(this.options, this.path.options);
                }

                this.style = this.$refs['style'].getStyles();

                if(this.templates.hasOwnProperty(this.template)) {
                    this.template = 'default';
                    if((this.path.options.hasOwnProperty('themes'))) {
                        if (this.path.options.themes.hasOwnProperty('template'))this.template = this.path.options.themes.template;
                    }
                    this.option_inputs = this.templates[this.template]['option_inputs'];
                } else {
                    setTimeout(function(){ self.updateOptionInputs(); }, 4000);
                }
            },
            getOptions ($option) {
                return this.options[$option];
            },
            updateOptions($section, $options) {
                this.options[$section] = $options;
                // this.$parent.updateOptions(this.index, this.options);
                this.$parent.refreshTable();
            },
            updateCurrentTab ($current_tab)
            {
                this.current_tab = $current_tab;
            },
            // camelCase (str) {
            //     str = str.toLowerCase().replace(/\b[a-z]/g, function(letter) {
            //         return letter.toUpperCase();
            //     });
            //
            //     return str;
            // },
            extend ($default, $input)
            {
                // Go through default object and iterate
                // We used the default object for it has the complete parameters
                for (var property in $input) {
                    // Check $input object if the property of defaut exists on its own
                    if ($input.hasOwnProperty(property)) {
                        // Detemine if the $input property is object
                        if(typeof($input[property]) === 'object') {
                            // go through the $default property
                            // We used the default object property for it has the complete parameters
                            for (var inner_property in $input[property]) {
                                // Check $input object if the property of defaut exists on its own
                                if ($input[property].hasOwnProperty(inner_property)) {
                                    // Replace the default property value with $input property value
                                    $default[property][inner_property] = $input[property][inner_property];
                                }
                            }
                        }
                        // $input property is not object
                        else {
                            // Replace the default property value with $input property value
                            $default[property] = $input[property];
                        }
                    }
                }

                return $default;
            }
        }
    }
</script>

<style media="screen" scoped>
.template-wrap .card-footer button {
    display: none;
}
.template-wrap:hover .card-footer button {
    display: inline-block;
}
</style>
