<template>
	<div class="card">

		<div class="card-body">
			<form enctype="multipart/form-data" class="form-horizontal" @submit.prevent="update()">
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="text-input">Path Name</label>
					<div class="col-md-9">
						<input v-model="path.name" type="text" class="form-control">
						<span class="help-block"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="text-input">Path URL</label>
					<div class="col-md-9">
						<input v-model="path.url" type="text" class="form-control" readonly>
						<span class="help-block"></span>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="textarea-input">Status</label>
					<div class="col-md-9">
						<label class="switch switch-text switch-pill switch-primary">
							<input name="my-checkbox" type="checkbox" class="switch-input" :checked="path.status" :value="path.status" >
							<span class="switch-label" data-on="On" data-off="Off" @click="path.status = !path.status"></span>
							<span class="switch-handle" @click="path.status = !path.status"></span>
						</label>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-3 col-form-label" for="textarea-input">Descriptions</label>
					<div class="col-md-9">
						<vue-editor :id="path.slug + '-editor'" v-model="path.description"></vue-editor>
					</div>
				</div>
			</form>
		</div>
		<div class="card-footer">
            <button class="btn btn-lg btn-primary" @click="update">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>
        </div>
	</div>
</template>


<script>
	import { VueEditor } from 'vue2-editor'
	export default {
		name: 'update-path',
		components: {
			VueEditor
		},
		data() {
			return {
			}
		},
		props: [
			'path'
		],
		methods: {
			update() {
				let self = this;
	            let formData = new FormData();
	            let excluded = ['url', 'slug', 'created_by', 'updated_by', 'date_created', 'date_updated', 'options'];

				if(this.path.status) this.path.status = 1;
				else this.path.status = 0;

	            Object.keys(this.path).map(function(key) {
	                if(excluded.indexOf(key) == -1 && self.path[key] != null) {
	                    formData.append(key, self.path[key]);
	                }
	            });
	            axios.post('/api/update-details/' + this.path.id, formData)
	            .then((data) => {
	                if(!data.data.error) alert(`${this.path.name} is updated`);
	                else  alert(data.data.msg);
	            })
	            .catch((error) => {
					console.log(error);
	            })
				.finally (() => {
					this.$parent.$refs.overviewPath[0].updatePreview();
				})
			},
		}
	}
</script>
